{% extends "layout/main.twig" %}

{% use "block/content/buttons.twig" %}
{% use "block/content/feedback.twig" %}

{% block pageid %}index{% endblock %}
{% block content %}

	{% if validatePrint %}
	{{ block("feedback_print") }}
	{% endif %}

	{% if validateNotification %}
	{{ block("small_sms_feedback") }}
	{% endif %}

	{% if not validatePrint and not validateNotification %}
	<div class="werbeblock_oben">
		{% trans "Anzahl vor Ihnen wartender Kunden" %}:
		<span id="wartende">
		    {% if estimatedData.amountBefore %}
		        {{ estimatedData.amountBefore - 1 }}
		    {% else %}
		        {% trans "keine" %}
		    {% endif %}
		</span>
		<br>

		{% trans "Vorraussichtliche Wartezeit" %}:
		{% if estimatedData.waitingTimeEstimate %}
			{% if estimatedData.waitingTimeEstimate < 120 %}
		        {{ estimatedData.waitingTimeEstimate }} {% trans "Minuten" %}
		    {% else %}
		    	{{ (estimatedData.waitingTimeEstimate / 60)|round(0, 'floor') }} {% trans "Stunden" %}
		    {% endif %}
		{% else %}
		    {% trans "keine" %}
		{% endif %}
	</div>
	{% endif %}

	{{ block("button_singlerow") }}

	{% if
	    estimatedData.waitingTimeEstimate > (scope.preferences.ticketprinter.notificationsDelay)|round() and
	    scope.preferences.ticketprinter.notificationsAmendmentEnabled and
	    scope.preferences.appointment.notificationConfirmationEnabled
	%}
	{{ block("button_append_notification") }}
	{% endif %}
{% endblock %}


