{% extends "layout/main.twig" %}

{% use "block/content/numberpad.twig" %}

{% from 'element/helper/form.twig' import formbutton, custombutton, hiddenfield, inputfield %}

{% block pageid %}notification{% endblock %}
{% block content %}
<div class="boxontop">
	<div class="noprint">
        <form action="{{ urlGet('NotificationAssign', {}, {}) }}" method="post" class="smseintragen">
            <div class="smsbox" id="smsbox">
                <div class="smshinweis">
                    Bitte geben Sie hier<br/> Ihre Handynummer ein:
                </div>
                {% if scope.preferences.ticketprinter.confirmationEnabled %}
                	<div class="sms_bestaetigung">
                		Zur Bestätigung des Eintrags erhalten Sie eine SMS mit Ihrer Wartenummer.
                	</div>
                {% endif %}

                <div class="label">
                    Handynummer:
                </div>
                <div class="eingabe">
                	{{ inputfield({ "name": "client[telephone]", "id": "telephone", "class": "nummerneingabe", "value": process.clients|first.telephone }) }}
                </div>
                {{ block("numberpad") }}
                <div class="anleitung">
                    Mit der Taste "&lt;" können Sie die letzte Ziffer löschen, mit der "C"-Taste löschen Sie Ihre komplette Eingabe.
                </div>
                <div class="disclaimer">
                    Ihre Handynummer wird nur zu diesem Zweck gespeichert und anschlie&szlig;end gelöscht.
                </div>
                <div class="smsbuttons">
            	    {% if process.id %}
            	    {{ hiddenfield({ "name": "processId", "value": process.id }) }}
            	    {{ hiddenfield({ "name": "authKey", "value": process.authKey }) }}
            	    {% endif %}

            	    {% set label = "Handynummer übermitteln" %}
            	    {{ custombutton({ "class": "button abbrechen", "label":"Abbrechen", "href":homeUrl } ) }}
            	    {{ formbutton({ "type":"submit", "name": "Telefonnachtragen", "id":"Telefonnachtragen", "class": "button nachtrag", "label":label|trans, "value": label|trans }) }}
                </div>
            </div>
        </form>
	</div>
</div>
{% endblock %}