{% extends "layout/main.twig" %}
{% block content %}
<div class="counter-view" data-includeurl="{{ includeUrl() }}">
        <div class="report-index">
            <h1>{% trans %}Übersicht verfügbarer Statistiken{% endtrans %}</h1>
            <p>{% trans %}Im folgenden werden Links zu den Auswertungen zusammengefasst{% endtrans %}:</p>
            <h2>{% trans %}Auswertungen{% endtrans %}</h2>

            <h3>{% trans %}Kundenstatistik{% endtrans %}</h3>
            {% embed "block/report/period.twig" with {"source":{"entity":"ClientIndex"}, "items": clientperiod} %}
                {% block breadcrumb %}
                <ul class="report-period--breadcrumb">
                    {% if organisation %}
                        <li><a href="{{ urlGet("ReportClientOrganisation", {}, {}) }}">{{organisation.name}}</a></li>
                    {% endif %}
                    {% if department %}
                        <li><a href="{{ urlGet("ReportClientDepartment", {}, {}) }}">{{department.name}}</a></li>
                    {% endif %}
                    <li>{{workstation.scope.contact.name}} {{workstation.scope.shortName}}</li>
                </ul>
                {% endblock %}
            {% endembed %}
            <div class="report-period">
                <p class="report-period--link-more">
                <a href="{{ urlGet('ReportClientIndex', {}, {}) }}">Übersicht Kundenstatistik</a>
                </p>
            </div>

            <h3>{% trans %}Dienstleistungsstatistik{% endtrans %}</h3>
            {% embed "block/report/period.twig" with {"source":{"entity":"RequestIndex"}, "items": requestperiod} %}
                {% block breadcrumb %}
                <ul class="report-period--breadcrumb">
                    {% if organisation %}
                        <li><a href="{{ urlGet("ReportRequestOrganisation", {}, {}) }}">{{organisation.name}}</a></li>
                    {% endif %}
                    {% if department %}
                        <li><a href="{{ urlGet("ReportRequestDepartment", {}, {}) }}">{{department.name}}</a></li>
                    {% endif %}
                    <li>{{workstation.scope.contact.name}} {{workstation.scope.shortName}}</li>
                </ul>
                {% endblock %}
            {% endembed %}
            <div class="report-period">
                <p class="report-period--link-more">
                <a href="{{ urlGet('ReportRequestIndex', {}, {}) }}">Übersicht Dienstleistungsstatistik</a>
                </p>
            </div>

            <h3>{% trans %}Wartestatistik{% endtrans %}</h3>
            {% embed "block/report/period.twig" with {"source":{"entity":"WaitingIndex"}, "items": waitingperiod} %}
                {% block breadcrumb %}
                <ul class="report-period--breadcrumb">
                    {% if organisation %}
                        <li><a href="{{ urlGet("ReportWaitingOrganisation", {}, {}) }}">{{organisation.name}}</a></li>
                    {% endif %}
                    {% if department %}
                        <li><a href="{{ urlGet("ReportWaitingDepartment", {}, {}) }}">{{department.name}}</a></li>
                    {% endif %}
                    <li>{{workstation.scope.contact.name}} {{workstation.scope.shortName}}</li>
                </ul>
                {% endblock %}
            {% endembed %}
            <div class="report-period">
                <p class="report-period--link-more">
                <a href="{{ urlGet('ReportWaitingIndex', {}, {}) }}">Übersicht Wartestatistik</a>
                </p>
            </div>

            <h2>Rohdaten</h2>
            <p>Hier sind weitere Daten als Download verfügbar. Diese Daten müssen selbst aufbereitet werden, möchte man diese auswerten.</p>
            <div class="report-period">
                <p class="report-period--link-more">
                <a href="{{ urlGet('WarehouseIndex', {}, {}) }}">Übersicht Kategorien</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
