{% extends "layout/main.twig" %}
{% block content %}
<div class="counter-view" data-includeurl="{{ includeUrl() }}">
        <div class="report-index">
            <h1>{% trans %}Übersicht verfügbarer Statistik{% endtrans %}</h1>
            <p>{% trans %}Im folgenden werden Links zu den Auswertungen zusammengefasst{% endtrans %}:</p>
            <h2>{% trans %}Auswertungen{% endtrans %}</h2>

            <h3>{% trans %}Kundenstatistik{% endtrans %}</h3>
            {% embed "block/report/period.twig" with {"source":{"entity":"ScopeClient","id":scopeId}, "items": clientperiod} %}
                {% block breadcrumb %}
                <ul class="report-period--breadcrumb">
                    <li><a href="{{ urlGet("ReportOrganisationClient", {'id': organisation.id}, {}) }}">{{organisation.name}}</a></li>
                    <li><a href="{{ urlGet("ReportDepartmentClient", {'id': department.id}, {}) }}">{{department.name}}</a></li>
                    <li>{{workstation.scope.contact.name}} {{workstation.scope.shortName}}</li>
                </ul>
                {% endblock %}
            {% endembed %}

            <h3>{% trans %}Dienstleistungsstatistik{% endtrans %}</h3>
            {% embed "block/report/period.twig" with {"source":{"entity":"ScopeRequest","id":scopeId}, "items": requestperiod} %}
                {% block breadcrumb %}
                <ul class="report-period--breadcrumb">
                    <li><a href="{{ urlGet("ReportOrganisationRequest", {'id': organisation.id}, {}) }}">{{organisation.name}}</a></li>
                    <li><a href="{{ urlGet("ReportDepartmentRequest", {'id': department.id}, {}) }}">{{department.name}}</a></li>
                    <li>{{workstation.scope.contact.name}} {{workstation.scope.shortName}}</li>
                </ul>
                {% endblock %}
            {% endembed %}

            <h3>{% trans %}Wartestatistik{% endtrans %}</h3>
            {% embed "block/report/period.twig" with {"source":{"entity":"ScopeWaiting","id":scopeId}, "items": waitingperiod} %}
                {% block breadcrumb %}
                <ul class="report-period--breadcrumb">
                    <li><a href="{{ urlGet("ReportOrganisationWaiting", {'id': organisation.id}, {}) }}">{{organisation.name}}</a></li>
                    <li><a href="{{ urlGet("ReportDepartmentWaiting", {'id': department.id}, {}) }}">{{department.name}}</a></li>
                    <li>{{workstation.scope.contact.name}} {{workstation.scope.shortName}}</li>
                </ul>
                {% endblock %}
            {% endembed %}

            <h2>Rohdaten</h2>
            <p>Hier sind weitere Daten als Download verfügbar. Diese Daten müssen selbst aufbereitet werden, möchte man diese auswerten.</p>
            <p><a href="#">» Zu den Rohdaten</a></p>
        </div>
    </div>
{% endblock %}
