{% extends "layout/main.twig" %}

{% use "block/content/buttons.twig" %}
{% use "block/content/feedback.twig" %}

{% from 'element/helper/form.twig' import formbutton, custombutton, hiddenfield %}

{% block pageid %}index{% endblock %}
{% block content %}
<div class="boxontop">
	<span class="noprint">
		<span class="msg_wartenummer_lautet">
		    {% trans "Ihre Wartenummer lautet" %}: <br>
		</span>
		<div class="nummernanzeige">
		    {{ process.queue.number }}
		</div>
    </span>
    <span class="noprint">
    	{% if queueList|length > 1 %}{% set plural = 1 %}{% endif %}
    	{% if queueList|length >= 1 %}
			{% if plural %}
    		Es warten {{ estimatedData.amountBefore - 1 }} Kunden vor Ihnen.
    		{% else %}
    		Es wartet 1 Kunde vor Ihnen.
    		{% endif %}
    	{% else %}
    	Es wartet niemand vor Ihnen.
    	{% endif %}
    </span>
	<br />
    {% trans "Vorraussichtliche Wartezeit" %}:
	{% if estimatedData.waitingTimeEstimate %}
		{% if estimatedData.waitingTimeEstimate < 120 %}
	        {{ estimatedData.waitingTimeEstimate }} {% trans "Minuten" %}
	    {% else %}
	    	{{ (estimatedData.waitingTimeEstimate / 60)|round(0, 'floor') }} {% trans "Stunden" %}
	    {% endif %}
	{% else %}
	    {% trans "keine" %}
	{% endif %}
	{% if
	    estimatedData.waitingTimeEstimate > (scope.preferences.ticketprinter.notificationsDelay)|round() and
	    process.scope.preferences.ticketprinter.notificationsEnabled
	%}

    <p>Wartenummer wird im Anschluss ausgedruckt.</p>
    <span class="noprint">
        Wünschen Sie eine SMS-Benachrichtigung<br/>
        {{ process.scope.preferences.notifications.headsUpTime }} Minuten vor ihrem Aufruf?
    </span>
    <div class="smsoptionbutton noprint">
    	<form action="{{ urlGet('Notification', {'processId': process.id, 'authKey': process.authKey}, {}) }}" method="post">
            {{ hiddenfield({ "name": "waitingNumber", "value": process.queue.number }) }}
            {{ hiddenfield({ "name": "scopeId", "value": process.scope.id }) }}
            {{ hiddenfield({ "name": "organisationId", "value": organisation.id }) }}
            {{ formbutton({ "type":"submit", "class": "button ja_nein", "name": "submit_yes", "label":"Ja"|trans }) }}
        </form>
        {{ custombutton({ "type":"submit", "href":urlGet('Home', {}, {}), "class": "button ja_nein option_nein", "name": "submit_no", "label":"Nein"|trans }) }}
	</div>

	{% else %}
	<span class="noprint">
		<p>Ihre Wartenummer wird gedruckt.</p>
		<form action="{{ urlGet('TicketprinterByScope', {'scopeId': process.scope.id}, {}) }}" method="post">
            {{ hiddenfield({ "name": "hasWaitingNumber", "value": 1 }) }}
            {{ formbutton({ "type":"submit", "class": "ja_nein", "name": "submit_ok", "label":"OK" }) }}
        </form>
	</span>
	{% endif %}
</div>
{% endblock %}