{% extends "layout/print.twig" %}

{% block content %}
<div class="boxontop">
	<span class="printausgabe msg_ihre_wartenummer">Ihre Wartenummer:</span>
    <div class="printausgabe msg_ihre_nummernanzeige">{{ process.queue.number }}</div>
    <span class="printausgabe msg_stdname">
    	<span class="printausgabe msg_ihre_wartenummer">
    		{{ process.scope.contact.name }}<br>
    		Info: {{ process.scope.provider.name }}<br>
    		{{ toGermanDateFromTs(process.appointments|first.date).date }}, {{ toGermanDateFromTs(process.appointments|first.date).time }}<br>
		</span>
	</span>
</div>
{% endblock %}


