{% extends "layout/main.twig" %}
{% use "block/report/advancedInfo.twig" %}
{% block content %}
<div class="counter-view" data-includeurl="{{ includeUrl() }}">
        <div class="report-index">
            {% embed "block/report/period.twig" with {"source":source, "items": waitingPeriod, "selected": period} %}
                {% block breadcrumb %}
                <ul class="report-period--breadcrumb">
                    {% set arguments = {} %}
                    {% if period %}
                        {% set arguments = {"period": period} %}
                    {% endif %}
                    <li class="report-period--subject">{{ title|trans }}</li>
                    <li><a class="{{ activeOrganisation }}" href="{{ urlGet("ReportWaitingOrganisation", arguments, {}) }}">{{ organisation.name }}</a></li>
                    <li><a class="{{ activeDepartment }}" href="{{ urlGet("ReportWaitingDepartment", arguments, {}) }}">{{ department.name }}</a></li>
                    <li><a class="{{ activeScope }}" href="{{ urlGet("ReportWaitingIndex", arguments, {}) }}">{{workstation.scope.contact.name}} {{workstation.scope.shortName}}</a></li>
                </ul>
                </ul>
                {% endblock %}
            {% endembed %}

            {% if exchangeWaiting %}
                {% embed "block/report/board.twig" with {'source':source, 'class': 'report-board'} %}
                {% block board_body %}
                    {% if exchangeWaiting.period == "day" %}
                        {% set startDate = "%s-%s-%s"|format(exchangeWaiting.firstDay.year, exchangeWaiting.firstDay.month, exchangeWaiting.firstDay.day) %}
                        {% set endDate = "%s-%s-%s"|format(exchangeWaiting.lastDay.year, exchangeWaiting.lastDay.month, exchangeWaiting.lastDay.day) %}
                        {% set dateRange = range(startDate|date('U'), endDate|date('U'), 86400 ) %}
                    {% elseif exchangeWaiting.period == "month" %}
                        {% set startDate = "%s-%s"|format(exchangeWaiting.firstDay.year, exchangeWaiting.firstDay.month) %}
                        {% set endDate = "%s-%s"|format(exchangeWaiting.lastDay.year, exchangeWaiting.lastDay.month) %}
                        {% set dateRange = range(startDate|date('n'), endDate|date('n'), 1 ) %}
                    {% endif %}
                    <table class="report-board--table report-board--narrow">
                        <thead>
                                <th class="statistik">
                                    <span class="keinumbruch">
                                        {% trans %}Zeitabschnitte{% endtrans %}
                                    </span>
                                </th>
                                {% if exchangeWaiting.period == "day" %}
                                    <th class="statistik">{{ startDate|localizeddate("MEDIUM","none",NULL,NULL,"LLL") }}</th>
                                {% elseif exchangeWaiting.period == "month" %}
                                    <th class="statistik">{{ startDate|date('Y') }}</th>
                                {% endif %}
                                {% for date in dateRange %}
                                    {% if exchangeWaiting.period == "day" %}
                                        <th class="statistik">&nbsp;{{ date|date('d') }}</th>
                                    {% elseif exchangeWaiting.period == "month" %}
                                        <th class="statistik">&nbsp;{{ (startDate|date('Y') ~"-"~ "%02d"|format(date))|localizeddate("MEDIUM","none",NULL,NULL,"LLL") }}</th>
                                    {% endif %}
                                {% endfor %}

                            </thead>
                        <tbody class="">
                            <tr>
                                <th class="statistik">
                                    {% trans %}Gemessene Wartezeit{% endtrans %}<br>
                                    {% trans %}Tagesmaximum{% endtrans %}<br>
                                    {% trans %}Tagesdurchschnitt{% endtrans %}
                                </th>
                                <td class="statistik">
                                    <br />
                                    <span class="{% if not exchangeWaiting.data.max.max %}ausgegraut{% endif %}">{{ exchangeWaiting.data.max.max|default("-") }}</span><br>
                                    <span class="{% if not exchangeWaiting.data.max.average %}ausgegraut{% endif %}">{{ exchangeWaiting.data.max.average|default("-") }}</span>
                                </td>
                                {% for date in dateRange %}
                                    {% if exchangeWaiting.period == "day" %}
                                        {% set date = date|date("Y-m-d") %}
                                    {% elseif exchangeWaiting.period == "month" %}
                                        {% set date = startDate|date('Y') ~"-"~ "%02d"|format(date) %}
                                    {% endif %}
                                    <td>
                                        <br />
                                        <span class="{% if not exchangeWaiting.data[date].max %}ausgegraut{% endif %}">{{ exchangeWaiting.data[date].max|default("-") }}</span><br>
                                        <span class="{% if not exchangeWaiting.data[date].max %}ausgegraut{% endif %}">{{ exchangeWaiting.data[date].average|default("-") }}</span>
                                    </td>
                                {% endfor %}
                            </tr>
                            {% for hour in 6..21 %}
                                <tr>
                                    <th>
                                        {% trans %}Maxima{% endtrans %} {{ hour }} - {{ hour + 1 }} {% trans %}Uhr{% endtrans %} <br>
                                        {% trans %}berechnete Zeit{% endtrans %}<br>
                                        {% trans %}Wartende{% endtrans %}<br>
                                        {% trans %}gemessene Zeit{% endtrans %}
                                    </th>
                                    <td class="statistik report-board--summary{% if not exchangeWaiting.data.max.max %} ausgegraut{% endif %}">
                                        <br />
                                        <span class="{% if not exchangeWaiting.data.max[hour].waitingcalculated %}ausgegraut{% endif %}">{{ exchangeWaiting.data.max[hour].waitingcalculated|default("-") }}</span><br>
                                        <span class="{% if not exchangeWaiting.data.max[hour].waitingcount %}ausgegraut{% endif %}">{{ exchangeWaiting.data.max[hour].waitingcount|default("-") }}</span><br>
                                        <span class="{% if not exchangeWaiting.data.max[hour].waitingtime %}ausgegraut{% endif %}">{{ exchangeWaiting.data.max[hour].waitingtime|default("-") }}</span>
                                    </td>
                                    {% for date in dateRange %}
                                        {% if exchangeWaiting.period == "day" %}
                                            {% set date = date|date("Y-m-d") %}
                                        {% elseif exchangeWaiting.period == "month" %}
                                            {% set date = startDate|date('Y') ~"-"~ "%02d"|format(date) %}
                                        {% endif %}
                                        <td class="statistik">
                                            <br />
                                            <span class="{% if not exchangeWaiting.data[date][hour].waitingcalculated %}ausgegraut{% endif %}">{{ exchangeWaiting.data[date][hour].waitingcalculated|default("-") }}</span><br>
                                            <span class="{% if not exchangeWaiting.data[date][hour].waitingcount %}ausgegraut{% endif %}">{{ exchangeWaiting.data[date][hour].waitingcount|default("-") }}</span><br>
                                            <span class="{% if not exchangeWaiting.data[date][hour].waitingtime %}ausgegraut{% endif %}">{{ exchangeWaiting.data[date][hour].waitingtime|default("-") }}</span>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}
                {% endembed %}
                {{ block("advancedInfoWaiting") }}
            {% endif %}
        </div>
    </div>
{% endblock %}
