{% extends "layout/main.twig" %}


{% block pageid %}status{% endblock %}
{% block title %}{% trans %}Status{% endtrans %}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<div class="textile">
    <div class="table-responsive">
        <h2>Homeurl</h2>
        <p>{{ status.homeurl }}</p>
    </div>
</div>
<div class="textile">
    <div class="table-responsive">
        <h2>Ticketprinter Settings</h2>
        <table>
            <tr>
                <td>Aktiviert: </th>
                <td>{{ status.ticketprinter.enabled ? 1 : 0 }}</td>
            </tr>
            <tr>
                <td>Hash: </th>
                <td>{{ status.ticketprinter.hash }}</td>
            </tr>
            <tr>
                <td>Reload Intervall: </th>
                <td>{{ status.ticketprinter.reload }}</td>
            </tr>
            <tr>
                <td>Id: </th>
                <td>{{ status.ticketprinter.id }}</td>
            </tr>
            <tr>
                <td>Name: </th>
                <td>{{ status.ticketprinter.name }}</td>
            </tr>
            <tr>
                <td>Zuletzt geändert: </th>
                <td>{{ status.ticketprinter.lastUpdate|format_date(pattern="EE dd. MMMM Y, HH:mm") }} Uhr</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}