{% extends "layout/main.twig" %}
{% block content %}
<div class="counter-view" data-includeurl="{{ includeUrl() }}" data-selected-date="{{ selectedDate }}" data-selected-process="{{ waitingnumber }}" data-selected-time="{{ selectedTime }}">
        <div class="report-index">
            <h1>{% trans %}Übersicht verfügbarer Kategorien{% endtrans %}</h1>

            <p>{% trans %}Die Rohdaten sind in Kategorien aufgeteilt. Zu jeder Kategorie finden sich IDs wie zum Beispiel Standort-Namen. Darunter befinden sich unterschiedliche Zeitabschnitte. Die verfügbaren Auswertungen bedienen sich gleichfalls dieser Rohdaten. Aber nicht zu allen Rohdaten existieren Auswertungen.{% endtrans %}
            </p>

            <h2>{% trans %}Kategorien{% endtrans %}</h2>
            <ul>
                {% for entry in warehouse.data %}
                    <li><a href="{{ urlGet('WarehouseSubject', {'subject': entry.subject}, {}) }}">{{ entry.description|trans }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
