{% extends "layout/main.twig" %}
{% block content %}
<div class="counter-view" data-includeurl="{{ includeUrl() }}">
        <div class="report-index">
            <h1>{% trans %}Übersicht verfügbarer IDs{% endtrans %}</h1>

            {% embed "block/report/board.twig" with {'class': 'report-board', 'download':'raw'} %}
            {% block board_title %}
                {% trans %}Kategorie{% endtrans %}: {{ categoryName|trans }}
            {% endblock %}
            {% block board_body %}
                <table class="report-board--table">
                    <thead>
                        {% for entry in dictionary %}
                            <th>{{ entry.description }}</th>
                        {% endfor %}
                    </thead>
                    <tbody>
                    {% for entry in subjectList.data %}
                        <tr>
                            <td><a href="{{ urlGet('WarehousePeriod', {'subject': category, 'subjectid': entry.subject }, {}) }}">{{ entry.subject }}</a></td>
                            <td>{{ entry.periodstart|date("d.m.Y") }}</td>
                            <td>{{ entry.periodend|date("d.m.Y") }}</td>
                            <td>{{ entry.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endblock %}

            {% endembed %}
        </div>
    </div>
{% endblock %}
