{% embed "block/scaffholding/board.twig" with {'class': 'client-called'} %}
{% from "element/helper/snippets.twig" import namelist %}
        {% block board_title %}
            {% trans %}<span class="color-blue"><i class="fas fa-info-circle" aria-hidden="true"></i></span> 
 Kundeninformationen{% endtrans %}
        {% endblock %}
        {% block board_body %} 
            {% if error != "has_called_pickup" %}
            <dl>
                <dt>
                    Name
                </dt>
                <dd>
                    {{ process.clients|first.familyName }} <br>(Wartenr. {{ process.queue.number }})
                </dd>
                <dt>
                    Anliegen
                </dt>
                <dd>
                    {{ namelist(process.requests) }}
                </dd>
                {% if process.amendment %}
                <dt>
                    Anmerkung
                </dt>
                <dd>
                    {{ process.amendment }}
                </dd>
                {% endif %}
                {% if process.clients|first.telephone %}
                <dt>
                    Telefon
                </dt>
                <dd>
                    {{ process.clients|first.telephone }}
                </dd>
                {% endif %}
                {% if process.clients|first.email %}
                <dt>
                    E-Mail
                </dt>
                <dd>
                    {{ process.clients|first.email }}
                </dd>
                {% endif %}
                {% if process.customTextfield %}
                <dt>
                    {{workstation.scope.preferences.client.customTextfieldLabel}}
                </dt>
                <dd>
                    {{ process.customTextfield }}
                </dd>
                {% endif %}    
                <dt>
                    Wartezeit
                </dt>
                <dd>
                    {% if process.queue.waitingTime < 120 %}
                        {{ process.queue.waitingTime }} {% trans %}Minuten{% endtrans %}
                    {% else %}
                    	{{ (process.queue.waitingTime / 60)|round(0, 'floor') }} {% trans %}Stunden{% endtrans %} und
                        {{ (process.queue.waitingTime % 60) }} {% trans %}Minuten{% endtrans %}
                    {% endif %}
                </dd>
            </dl>  
            <h4>{% trans %}Zeit seit Kundenaufruf{% endtrans %}:</h4>
            <span id="clock" role="timer" class="clock" title="verstrichene Zeit seit dem Kundenaufruf" data-callTime={{ workstation.process.queue.callTime }} data-now={{ getNow()|date('U') }}></span>
            <h4>
            Ist der Kunde "{% if  workstation.process.clients|first.familyName|length > 0 %}{{ workstation.process.clients|first.familyName }} {% endif %}(Wartenr. {{ workstation.process.queue.number }})" gekommen?
            </h4>
            <button type="button" class="button button--default button--fullwidth client-called_button-success" style="margin: 0.5em 0;">Ja, Kunde erschienen</button>
            <button type="button" class="button button--diamond button--fullwidth client-called_button-skip right" data-exclude="{{ exclude }}" style="margin: 0.5em 0;">Nein, nächster Kunde bitte</button>
            <button type="button" class="button button--destructive button--fullwidth client-called_button-abort left" style="margin: 0.5em 0;">Nein, nicht erschienen</button>    
            {% endif %}
        {% endblock %}

        {% block board_footer %}
        {% include "block/process/footer.twig" %}
        {% endblock %}

{% endembed %}
