{% block pageheader %}
    {% from 'element/helper/form.twig' import formgroup, formbutton %}
        <div class="grid">
        <div class="grid__item one-sixth page-header__left">

            {% block pageheader_left -%}
            <a class="page-header__logo" href="{{ includeUrl() }}/" title="Zur Startseite">
                    <img src="{{ includeUrl() }}/_css/images/muc_logo_head2.png" alt="Home">
            </a>

            {%- endblock %}

        </div>
        <div class="grid__item max-width page-header__middle">

            {% block pageheader_middle -%}
            {#
            <span class="sitename">{% if sitename %} {{ sitename }} {% endif %} {% else %} {{ title }} {% endif %}</span>
            <form>
            {{ formgroup(
                {"label": "Standort:", "description": "","class":"switchcluster"},
                [{
                    "type":"select",
                    "parameter": {
                        "name": "clustername",
                        "options": [
                            {"value": "alle", "name": "Alle Clusterstandorte anzeigen"},
                            {"value": "selectoption2", "name": "Test 1 Kfz-Zulassungsbehörde-Friedr.-Kreuzberg"},
                            {"value": "selectoption3", "name": "Test 2 Still/Kurz Kfz-Zulassungsbehörde-Friedr.-Kreuzberg"}
                          ],
                    }
                }]
            ) }}
            </form>
            #}
            <div class="page-header__scope" data-header-scope="{{ workstation.scope.contact|json_encode }}">
                {% set scopeName = workstation.scope.contact.name %}
                {% if workstation.scope.contact.name|length > 30 %}
                    {% set scopeName = workstation.scope.contact.name[:30] ~ "..." %}
                {% endif %}
                <ul class="list--horizontal">
                    <li class="user-scope header-scope-title" title="{{ workstation.scope.contact.name }}">
                        <div>{% trans %}header.scope{% endtrans %}: <strong><span class="header-scope-name">{{ scopeName }}</span></strong></div>
                    </li>
            	    <li class="user-workstation">
                        <div>
                        <strong> 
                        {%if workstation.name %} 
                            {{ workstation.name }} 
                        {% endif %}
                        </strong>
                        <a href="{{ urlGet('workstationSelect', {}, {}) }}" class="icon" title="Auswahl ändern">
                            <i class="fas fa-edit" aria-hidden="true"></i> <span class="aural">Auswahl ändern</span>
                        </a>
                        </div>
                    </li>
                </ul>
            </div>
            {%- endblock %}    
            </div>
            <div class="grid__item min-width page-header__right">
            {% block pageheader_right -%}
                <div class="page-header__metanav">
                    <ul class="list--horizontal bordered js-header-metanavi-popup">
                        <li class="nav-item">
                            <span class="user-name">
                                <strong>{{ workstation.useraccount.id|replace({'@keycloak': ''}) }}</strong>
                            </span>
                        </li>
                        <li class="nav-item">
                            <a href="{{ urlGet('logout', {'loginName' : workstation.loginName}, {}) }}" title="Abmelden"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> {% trans %}header.logout{% endtrans %}</a>
                        </li>
                    </ul>
                </div>
                <button class="desk-hide" title="Hauptnavigation öffnen">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <span class="aural">Hauptnavigation öffnen</span>
                </button>
            {%- endblock %}
            </div>
        </div>
{% endblock %}
