{% block german %}
===========================================================================<br />
Achtung! Dies ist eine automatisch erstellte E-Mail.<br />
Bitte antworten Sie nicht auf diese Mail, sie kann nicht bearbeitet werden.<br />
===========================================================================<br />
<br />
Sehr geehrte/r Frau oder Herr {{ client.familyName }},
<br /><br />
hiermit teilen wir Ihnen mit, dass Ihr Termin am {{ (date|default(getNow))|localizeddate("short","none",NULL,NULL,"EEEE, dd. MMMM Y") }} {% trans %}um{% endtrans %} {{ (date|default(getNow))|date("H:i") }} {% trans %}Uhr{% endtrans %} 
abgesagt wurde.<br />
<br />
Ihre Vorgangsnummer <strong>{{ process.id }}</strong> ist nun ungültig.
<br /><br />
Bitte beachten Sie, dass Antworten auf diese E-Mail nicht möglich sind.
<br /><br />
Mit freundlichem Gruß<br />
Ihre Terminverwaltung des Landes Berlin
<br /><br />
<a href="{{ config.appointments.urlAppointments }}">{{ config.appointments.urlAppointments }}</a>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EventReservation",
  "reservationNumber": "{{ process.id }}",
  "reservationStatus": "http://schema.org/Cancelled",
  "modifyReservationUrl": "{{ config.appointments.urlChange }}",
  "underName": {
    "@type": "Person",
    "name": "{{ client.familyName }}"
  },
  "reservationFor": {
    "@type": "Event",
    "name": "{% for request in process.requests %}{{ request.name }}{% if not loop.last %},{% endif %} {% endfor %}",
    "startDate": "{{ date|date('c') }}",
    "location": {
      "@type": "Place",
      "name": "{{ process.scope.provider.name }}",
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": "{{process.scope.provider.contact.lat}}",
        "longitude": "{{process.scope.provider.contact.lon}}"
      },
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{process.scope.provider.contact.street ~ " "  ~ process.scope.provider.contact.streetNumber}}",
        "addressLocality": "{{process.scope.provider.contact.city}}",
        "addressRegion": "{{process.scope.provider.contact.city}}",
        "postalCode": "{{process.scope.provider.contact.postalCode}}",
        "addressCountry": "DE"
      }
    }
  }
}
</script>
{% endblock %}
