{% block german %}
===========================================================================<br />
Achtung! Dies ist eine automatisch erstellte E-Mail.<br />
Bitte antworten Sie nicht auf diese Mail, sie kann nicht bearbeitet werden.<br />
===========================================================================<br />
<br />
Sehr geehrte/r Frau oder Herr {{ client.familyName }},
<br /><br />
hiermit teilen wir Ihnen mit, dass Ihr Termin am {{ (date|default(getNow))|localizeddate("short","none",NULL,NULL,"EEEE, dd. MMMM Y") }} {% trans %}um{% endtrans %} {{ (date|default(getNow))|date("H:i") }} {% trans %}Uhr{% endtrans %} 
abgesagt wurde.<br />
<br />
Ihre Vorgangsnummer <strong>{{ process.id }}</strong> ist nun ungültig.
<br /><br />
Bitte beachten Sie, dass Antworten auf diese E-Mail nicht möglich sind.
<br /><br />
Mit freundlichem Gruß<br />
Ihre Terminverwaltung des Landes Berlin
<br /><br />
<a href="{{ config.appointments.urlAppointments }}">{{ config.appointments.urlAppointments }}</a>
{% endblock %}
