{% block german %}
    Sehr geehrte/r Frau oder Herr {{ client.familyName }},
    <br /><br />
    Ihr Dokument ({{ process.requests|first.name }}) ist fertig und liegt zur Abholung bereit.,
    <br /><br />
    Die Adresse lautet: {{ process.scope.provider.name ~ " " ~ process.scope.provider.contact.street ~", " ~ process.scope.provider.contact.postalCode ~ " " ~ process.scope.provider.contact.city }}.
    <br />
    Bitte beachten Sie, dass Antworten auf diese eMail nicht möglich sind.
    <br /><br />
    Mit freundlichem Gruß<br />
    Ihre Terminverwaltung des Landes Berlin
    <br /><br />
<a href="{{ config.appointments.urlAppointments }}">{{ config.appointments.urlAppointments }}</a>
{% endblock %}
