{% embed "block/scaffholding/board.twig" with {'class': 'scope-appointments-by-day'} %}
    {% from 'element/helper/form.twig' import formgroup, formbutton %}
    {% block board_title %} {{title}}{% endblock %}
    {% block board_body %}
        <script>
            let cssDef2 = '.board__body {padding:0px; margin:0px}';
                cssDef2 += 'table {width: 100%;}';
                cssDef2 += 'table th, table td {display: table-cell; white-space: nowrap; padding: 0px 10px; text-align:left;}';
                cssDef2 += 'h1 {margin: 0px;}';
                cssDef2 += 'td.wrap {white-space: break-spaces;}';
                cssDef2 += '@media print {';
                cssDef2 += ' .navigation-primary, .one-sixths {display:none !important;}';
                cssDef2 += ' .grid {display:block !important;}';
                cssDef2 += ' .five-sixths {width: 100% !important; margin:0px; padding:0px;}';
                cssDef2 += ' #page-wrapper {margin:0px; padding:0px;}';
                cssDef2 += ' table {margin:0px; padding:0px;}';
                cssDef2 += ' table th, table td { display: table-cell; white-space: nowrap; padding: 0px 10px; text-align:left; vertical-align: top;}';
                cssDef2 += ' .board {margin:0px; padding:0px;}';
                cssDef2 += '}';
            let style2 = document.createElement('style');

            style2.appendChild(document.createTextNode(cssDef2));
            document.head.appendChild(style2);
        </script>
        <table>
            <thead>
                <tr>
                    <th>{{ clusterEnabled ? 'Kürzel' : 'Lfd.Nr.'}}</th>
                    <th>Uhrzeit</th>
                    <th>Nr.</th>
                    <th>Name</th>
                    <th>Telefon</th>
                    <th>Email</th>
                    <th>Dienstleistung</th>
                    <th>Anmerkungen</th>
                </tr>
            </thead>
            <tbody>
                {% for item in processList %}
                    <tr>
                        <td>{{ clusterEnabled ? item.scope.shortName : loop.index }}</td>
                        <td>{{ item.queue.arrivalTime|date('H:i') }}</td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.clients.0.familyName }}</td>
                        <td>{{ item.clients.0.telephone }}</td>
                        <td>{{ item.clients.0.email }}</td>
                        <td class="wrap">{{ item.requests.0.name }}</td>
                        <td>{{ item.amendment }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

{% endembed %}
