{% block scope_switch %}
{% from 'element/helper/form.twig' import formgroup, inputfield %}
<form action="{{ urlGet('workstationSelect') }}" method="POST">
    {% set selected = '' %}
    {% if workstation.queue.clusterEnabled == 1 %}
        {% set selected = 'selected' %}
    {% endif %}
    {% set scopeOptions = [{ "value": "cluster", "name": "Alle Clusterstandorte anzeigen", "selected": selected }] %}
    {% for scope in cluster.scopes %}
        {% if workstation.scope.id == scope.id and workstation.queue.clusterEnabled != 1 %}
            {% set selected = 'selected' %}
        {% else %}
            {% set selected = '' %}
        {% endif %}
        {% set scopeOptions = scopeOptions|merge([{ "value": scope.id, "name": scope.contact.name ~ " " ~ scope.shortName, "selected": selected }]) %}
    {% endfor %}

    {{ formgroup(
        {"label": "", "description": "","class":"switchcluster"},
        [{
            "type":"select",
            "parameter": {
                "name": "scope",
                "options": scopeOptions,
            }
        }]
    ) }}
    {{ inputfield({ "name":"selectedDate", "type":"hidden", "value":selectedDate }) }}
    {{ inputfield({ "name":"redirect", "value": source, "type":"hidden", "class": "sourceSwitchCluster" }) }}
    {{ inputfield({ "name":"workstation", "type":"hidden", "value":workstation.name }) }}
    {{ inputfield({ "name":"appointmentsOnly", "type":"hidden", "value":workstation.queue.appointmentsOnly }) }}
</form>
{% endblock %}
