{% embed "block/scaffholding/board.twig" with {'class': 'useraccount-changepassword', 'messages': 'hide'} %}
        {% from 'element/helper/form.twig' import formgroup, formbutton, inputfield %}

        {% block board_title %}
            Anmeldedaten ändern
        {% endblock %}

        {% block board_body %}
            {% if isFromOidc %}
                <div class="message message--info">
                    {{ ("Dieser Nutzer wurde über einen OpenID Connect Anbieter angelegt. Nutzername, E-Mail und Passwörter sind hier nicht änderbar.")|trans }}
                </div>
            {% else %}
                <div class="message message--info">
                    {{ ("Hier können Sie Ihre Anmeldedaten ändern.")|trans }}
                </div>
            {% endif %}
            <form method="post" action="./">
                <fieldset>

                    {{ formgroup(
                        {
                            "label": "Nutzername", 
                            "required": true,
                            "errors": exception.data.id.messages
                        },
                        [{
                            "type":"input",
                            "parameter": {
                                "name": "id",
                                "value": useraccount.id,
                                "maxlength": 40,
                                "readonly": 1
                            }
                        }]
                    ) }}

                    {{ formgroup(
                        {
                            "label": "E-Mail", 
                            "description": metadata.email.description|filter((v, k) => k != 'pattern'),
                            "required": true,
                            "errors": exception.data.email.messages
                        },
                        [{
                            "type":"input",
                            "parameter": {
                                "name": "email",
                                "value": useraccount.email,
                                "maxlength": 100,
                                "readonly": isFromOidc ? 1 : 0
                            }
                        }]
                    ) }}

                    {% if not isFromOidc %}
                    {{ formgroup(
                        {
                            "label": "Altes Passwort", 
                            "errors": exception.data.password.messages
                        },
                        [{
                            "type":"input",
                            "parameter": {
                                "type": "password",
                                "name": "password",
                                "maxlength": 40
                            }
                        }]
                    ) }}

                    {% set passwordDescription = metadata.password.description + metadata.changePassword.description %}
                    {{ formgroup(
                        {
                            "label": "Neues Passwort", 
                            "description": passwordDescription|filter((v, k) => (k == 'minLength')),
                            "errors": exception.data.changePassword.messages
                        },
                        [{
                            "type":"input",
                            "parameter": {
                                "type": "password",
                                "name": "changePassword[]",
                                "maxlength": 40
                            }
                        }]
                    ) }}

                    {{ formgroup(
                        {
                            "label": "Passwortwiederholung", 
                            "description": passwordDescription|filter((v, k) => k != 'maxLength'),
                            "errors": exception.data.changePassword.messages
                        },
                        [{
                            "type":"input",
                            "parameter": {
                                "type": "password",
                                "name": "changePassword[]",
                                "maxlength": 40
                            }
                        }]
                    ) }}
                    {% endif %}

                    {% if useraccount.rights.superuser %}
                        {{ inputfield({ "name":"departments[][id]", "type":"hidden", "value":0 }) }}
                    {% else %}
                        {% for department in useraccount.departments %}
                            {{ inputfield({ "name":"departments[][id]", "type":"hidden", "value":department.id }) }}
                        {% endfor %}
                    {% endif %}

                    <small>*) Felder mit einem Stern müssen ausgefüllt werden.</small>

                    {% if not isFromOidc %}
                    <div class="form-actions">
                        {{ formbutton({ "type":"save", "label":"Nutzerdaten ändern", "name": "save", "value": "save" }) }}
                    </div>
                    {% endif %}
                </fieldset>
            </form>
        {% endblock %}


{% endembed %}
