{% extends "layout/main.twig" %}

{% from 'element/helper/form.twig' import formbutton, custombutton, hiddenfield %}
{% use "block/content/print.twig" %}

{% block pageid %}process{% endblock %}
{% block content %}

<div class="boxontop">
	{{ block("print") }}
	<div class="noprint">
		<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
			<span class="msg_wartenummer_lautet">
		    	{% trans %}Ihre Wartenummer lautet{% endtrans %}: <br>
			</span>
			<div class="nummernanzeige">
				{{ process.queue.number }}
			</div>
			<span>
				{% if waitingClients >= 1 %}
					{% if waitingClients == 1 %}
						Es wartet 1 Kunde vor Ihnen.
					{% else %}
						Es warten {{ waitingClients }} Kunden vor Ihnen.
					{% endif %}

				{% else %}
					Es wartet niemand vor Ihnen.
				{% endif %}
        	</span>
			<br />

			{% trans %}Voraussichtliche Wartezeit{% endtrans %}:
			{% if waitingTime %}
				{% if waitingTime < 120 %}
					{{ waitingTime }} {% trans %}Minuten{% endtrans %}
				{% else %}
					{{ (waitingTime / 60)|round(0, 'floor') }} {% trans %}Stunden{% endtrans %}
				{% endif %}
			{% else %}
				{% trans %}keine{% endtrans %}
			{% endif %}

			<p>Ihre Wartenummer wird gedruckt.</p>
			{% set label = "OK" %}
			{{ custombutton({ "type":"submit", "href":urlGet('Home', {}, {}), "class": "button ja_nein", "name": "submit_ok", "label":label|trans, "value": label|trans }) }}

			<script>
				window.setTimeout(function(){
					window.location.href = "{{ urlGet('Home', {}, {}) }}";
				}, 10000);
			</script>
		</div>
    </div>
</div>
{% endblock %}
