<td class="rechterRand wartenummer" data-callTime="{{ queue.callTime }}">
	<div class="highlight {{ queue.status }}">
		<span class="terminkundennummer in-column{{ inColumn }}" data-appointment="{{ queue.displayNumber }}" data-status="{{ queue.status }}">{{ queue.displayNumber }}</span>
	</div>
</td>
