<td class="rechterRand wartenummer" data-callTime="{{ queue.callTime }}">
	<div class="highlight {{ queue.status }}">
		<span class="terminkundennummer in-column{{ inColumn }}" data-appointment="{{ queue.number }}" data-status="{{ queue.status }}">{{ queue.number }}</span>
	</div>
</td>
