{% embed "block/scaffholding/board.twig" with {'class': 'useraccount-list board--spaceless', 'messages': 'hide'} %}
    {% from 'element/helper/form.twig' import custombutton, inputfield %}

    {% block board_title %}
        Nutzerliste
    {% endblock %}

    {% block board_body %}
        
        {% if department.name %}
        <h3>{{ department.name }}</h3>
        {% endif %}

        <div class="table-responsive-wrapper"> 
        {% if useraccountList|length == 0 %}
            <div class="message message--info" role="alert">
                <p>Dieser Behörde ist bisher noch kein Nutzer zugeordnet.</p>
            </div>
        {% else %}
            <table class="table--base">
                <thead>
                    <tr>
                        <th>Loginname</th>
                        <th>Letzter Login</th>
                        <th>Aktion</th>
                    </tr>
                </thead>
                <tbody>
                {% for useraccount in useraccountList %}
                    <tr>
                        <td><a href="{{ urlGet('useraccountEdit', {'loginname':useraccount.id}, {}) }}">{{ useraccount.id }}</a></td>
                        <td>{% if useraccount.lastLogin %}{{ useraccount.lastLogin|date("Y-m-d") }}{% endif %}</td>
                        <td>
                            {{ custombutton({ "type":"edit", "class":"link" ,"target": urlGet('useraccountEdit', {'loginname':useraccount.id}, {}), "label":'<i class="fas fa-edit" aria-hidden="true"></i> bearbeiten' }) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
            <div class="table-actions">
            {% if department.id %}
                {{ custombutton({ "type":"new","target": urlGet("useraccountAdd", {}, {'department':department.id}), "label":'<i class="fa fa-plus-square color-positive" aria-hidden="true"></i> neuer Nutzer' }) }}
            {% else %}
                {{ custombutton({ "type":"new","target": urlGet("useraccountAdd", {}, {}), "label":'<i class="fa fa-plus-square color-positive" aria-hidden="true"></i> neuer Nutzer' }) }}
            {% endif %}
            </div>
        </div>

    {% endblock %}

    {% block board_footer %}{% endblock %}

{% endembed %}

