{# 1 Button #}
{% block button_singlerow %}
	{% from 'element/helper/form.twig' import formbutton, hiddenfield %}
	<div class="wartebuttonbereich_einzeilig" data-queue-min=1 data-queue-max=2>
		<form action="{{ urlGet('TicketprinterProcess', {}, {}) }}" method="post">
            {{ hiddenfield({ "name": "scopeId", "value": ticketprinter.buttons|first.scope.id }) }}
            {{ hiddenfield({ "name": "clusterId", "value": ticketprinter.buttons|first.cluster.id }) }}
			{% set label = "Wartenummer für\n" ~ ticketprinter.buttons|first.name %}
			<div class="warteschlangebutton_gross" id="warteschlangebutton_gross">
                {{ formbutton({ "type":"submit", "name": "Eintragen", "label":label, "value": "Wartenummer anfordern" }) }}
            </div>
        </form>
	</div>
{% endblock %}

{# > 2 Buttons #}
{% block button_multirow %}
	{% from 'element/helper/form.twig' import formbutton, hiddenfield %}
	<div class="wartebuttonbereich_zweizeilig"  data-queue-min=3 data-queue-max=6>
	{% for button in ticketprinter.buttons %}
		<form action="{{ urlGet('TicketprinterProcess', {}, {}) }}" method="post">
            {{ hiddenfield({ "name": "scopeId", "value": button.scope.id }) }}
            {{ hiddenfield({ "name": "clusterId", "value": button.cluster.id }) }}
			{% set label = "Wartenummer für\n" ~ button.name %}
			<div class="variablerwarteschlangebutton" id="variablerwarteschlangebutton">
                {{ formbutton({ "type":"submit", "name": "Eintragen", "label":label, "value": "Wartenummer anfordern" }) }}
            </div>
        </form>
	{% endfor %}
</div>
{% endblock %}

{# 2 Buttons #}
{% block button_multirow_deep %}
	{% from 'element/helper/form.twig' import formbutton, hiddenfield %}
	<div class="wartebuttonbereich_zweizeilig_tief"  data-queue-min=3 data-queue-max=6>
    {% for button in ticketprinter.buttons %}
    	<form action="{{ urlGet('TicketprinterProcess', {}, {}) }}" method="post">
            {{ hiddenfield({ "name": "scopeId", "value": button.scope.id }) }}
            {{ hiddenfield({ "name": "clusterId", "value": button.cluster.id }) }}
    		{% set label = "Wartenummer für\n" ~ button.name %}
    		<div class="variablerwarteschlangebutton" id="variablerwarteschlangebutton">
                {{ formbutton({ "type":"submit", "name": "Eintragen", "label":label, "value": "Wartenummer anfordern" }) }}
            </div>
        </form>
	{% endfor %}
</div>
{% endblock %}