{% use "block/default/head.twig" %}
{% use "block/default/devhint.twig" %}
{% use "block/header/pageheader.twig" %}
{% use "block/footer/footer.twig" %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ currentLang() }}" lang="{{ currentLang() }}">
    {% block head %}
    	{{ parent() }}
    {% endblock %}
    <body class="hiddencursor locale_{{ currentLang() }}{% block customizedClass %}{% endblock %}" id="{% block pageid %}{% endblock %}" type="{% block pagetype %}{% endblock %}">
        {% if getSystemStatus('ZMS_ENV') in ["dev", "stage"] %}
            {% block devhint %}
            	{{ parent() }}
            {% endblock %}
            {% endif %}
            {% block pageheader %}
            	{{ parent() }}
            {% endblock %}
            <div id="aufrufanzeige" class="aufrufanzeige">
            	<div class="content">
                {% block content %}{% endblock %}
                </div>
            </div>

     {% block footer %}
    	{{ parent() }}
    {% endblock %}      

            {% include("element/ring.twig") %}
			<script type="text/javascript" src="{{ includeUrl() }}/_js/index.js"></script>
            <script type="text/javascript">window.bo.zmscalldisplay.includepath="{{ includeUrl() }}"</script>
            <script type="text/javascript">window.bo.zmscalldisplay.collections.scopelist="{{ scopeList }}"</script>
            {% if zmscalldisplay.reload %}
            <script type="text/javascript">window.bo.zmscalldisplay.reloadInterval={{ zmscalldisplay.reload }}</script>
            {% endif %}
            <script type="text/javascript">window.bo.zmscalldisplay.queue.timeUntilOld=60</script>
            <script type="text/javascript">window.bo.zmscalldisplay.queue.status="{{ queueStatusRequested }}"</script>
            {% block tableLayoutSettings %}{% endblock %}
            {% if debug %}
            <div class="debug noprint">
            <!-- httplog -->{{ dumpHttpLog() }}
            </div>
        {% endif %}
    </body>
</html>
