{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}
{% block headline %}
    {{ headline1("Systemkonfiguration") }}
{% endblock %}

{% block content %}

    {% embed "block/scaffholding/board.twig" with {'class': 'board--spaceless config-view', 'data': {'includeurl':includeUrl() }} %}

        {% block board_title %}
            Mail Templates
        {% endblock %}

        {% block board_body %}

{% for settings in mailtemplates %}
    {% if settings|keys|length %}
        <div style="display: flex; align-items: start; margin-bottom: 20px;">
            <div style="flex: 3; width: 60%; padding: 24px; box-sizing: border-box; border: 1px solid #ccc;">
                <div id="editor-{{ loop.index }}" style="width: 100%; height: 352px;"></div> <!-- Editor size adjusted for padding -->
            </div>

            <script id="mail-template-{{ loop.index }}" type="text/twig-template">
                {{settings.value}}
                Hello 
                Hier noch weitere Testdaten
            </script>

            <div id="mail-preview-{{ loop.index }}" class="preview" style="flex: 2; width: 40%; height: 400px; background-color: #f0f0f0; border-left: 1px solid #ccc; padding: 24px; box-sizing: border-box;">
                preview rendering...
            </div>
        </div>
    {% endif %}
{% endfor %}

            <p>
            Im Folgenden wird die aktuelle Konfiguration der vorliegenden ZMS-Instanz gezeigt. Diese Konfiguration ist nur von einem System-Administrator änderbar. Diese Seite dient lediglich dem Zweck, die Konfiguration zu prüfen.
            </p>

<div id="result"></div>

            {% for group, settings in config %}
                {% if settings|keys|length %}
                <div class="block">
                    <h2 class="block__heading">{{group}}</h2>
                    <ul class="panel--heavy">
                    {% for name, value in settings %}
                        <li class="grid">
                            <div class="grid__item three-twelfths"><strong>{{name}}:</strong></div>
                            <div class="grid__item eight-twelfths">{{value}}</div>
                            <div class="grid__item one-twelfth">{% if workstation.useraccount.rights.superuser == "1" %} 
                                <a data-property="{{ name }}" data-value="{{ value }}" data-key="{{ group }}" href="#" class="icon edit" title="Bearbeiten"><i class="fas fa-edit" aria-hidden="true"></i> <span class="aural">Bearbeiten</span></a> {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endfor %}

            <div class="block mail--templates">
                <h2 class="block__heading">email templates</h2>
                <div class="panel--heavy">

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "confirmed"
                            } %}</h3>
                            <pre>
                                {% include "@zmsentities/messaging/mail_confirmation.twig" with {
                                    "date": processExample.getFirstAppointment.date,
                                    "process": processExample, 
                                    "processList": processListExample, 
                                    "client": processExample.clients|first
                                } %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "reminder"
                            } %}</h3>
                            <pre>
                                {% include "@zmsentities/messaging/mail_reminder.twig" with {
                                    "date": processExample.getFirstAppointment.date,
                                    "process": processExample, 
                                    "processList": processListExample, 
                                    "client": processExample.clients|first
                                } %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "deleted"
                            } %}</h3>
                            <pre>
                                {% include "@zmsentities/messaging/mail_delete.twig" with {
                                    "date": processExample.getFirstAppointment.date,
                                    "process": processExample, 
                                    "processList": processListExample, 
                                    "client": processExample.clients|first
                                } %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "process": processExample, 
                                "initiator": "XXX", 
                                "status": "overview"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_processlist_overview.twig" with {
                                    "processList": processListExample, 
                                    "client": (processExample.clients|first),
                                    "initiator": "XXX", 
                                    "status": "overview"} %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "process": processExample, 
                                "initiator": "XXX", 
                                "status": "overview"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_processlist_overview.twig" with {
                                    "processList": [], 
                                    "client": (processExample.clients|first),
                                    "initiator": "XXX", 
                                    "status": "overview"} %}
                            </pre>
                        </div>
                    </fieldset>
                    
                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "pickup", 
                                "process": {"requests": processExample.requests}
                            } %}</h3>
                            <pre>
                                {% include "@zmsentities/messaging/mail_pickup.twig" with {"process": processExample, "client": processExample.clients|first} %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "queued"
                            } %}</h3>
                            <pre>
                                {% include "@zmsentities/messaging/mail_queued.twig" with {
                                    "date": processExample.getFirstAppointment.date,
                                    "process": processExample, 
                                    "processList": processListExample, 
                                    "client": processExample.clients|first
                                } %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "deleted", 
                                "initiator": "XXX"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_admin_delete.twig" with {
                                    "process": processExample, 
                                    "initiator": "XXX"
                                } %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "deleted", 
                                "initiator": "XXX"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_admin_delete.twig" with {"process": {
                                    "queue": {"number": 123456},
                                    "scope": processExample.scope,
                                }, "initiator": "XXX"} %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "updated", 
                                "initiator": "XXX"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_admin_update.twig" with {"process": processExample, "initiator": "XXX"} %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "status": "updated", 
                                "initiator": "XXX"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_admin_update.twig" with {
                                    "process": {
                                        "queue": {"number": 123456},
                                        "scope": processExample.scope,
                                    }, 
                                    "initiator": "XXX"
                                } %}
                            </pre>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "process": {
                                    "clients": [{"surveyAccepted": 1}],
                                    "scope": processExample.scope
                                },
                                "initiator": "XXX", 
                                "status": "survey"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_survey.twig" with {
                                    "process": processExample,
                                    "client": processExample.clients|first
                                } %}
                            </pre>
                            </div>
                    </fieldset>

                    <fieldset>
                        <div class="panel--light">
                            <h3>ohne Kundennamen</h3>
                            <h3>Betreff: {% include "@zmsentities/messaging/subjects.twig" with {
                                "process": {
                                    "clients": [{"surveyAccepted": 1}],
                                    "scope": processExample.scope
                                },
                                "status": "survey"
                            } %}</h3>
                            <pre class="admin">
                                {% include "@zmsentities/messaging/mail_survey.twig" with {
                                    "process": processExample
                                } %}
                            </pre>
                            </div>
                    </fieldset>
                </div>
            </div>
        {% endblock %}

    {% endembed %}

<script src="https://cdn.jsdelivr.net/npm/twig/twig.min.js"></script>


    <!-- Load Require.js from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
    <script>
        require.config({
            paths: {
                'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs',
            }
        });

        function initializeEditor(elementId, defaultCode) {
            require(['vs/editor/editor.main'], function() {
                monaco.editor.create(document.getElementById(elementId), {
                    value: defaultCode,
                    language: 'javascript',
                    theme: 'vs-dark'
                });
            });
        }

        function renderPreview(index) {
            var templateContent = document.getElementById('mail-template-' + index ).innerHTML;
            var template = Twig.twig({
                data: templateContent
            });

            var output = template.render({ name: "World" });
            document.getElementById('mail-preview-' + index).innerHTML = output;
        }


        document.addEventListener('DOMContentLoaded', function () {
            {% for settings in mailtemplates %}
                initializeEditor('editor-{{ loop.index }}', '{{ settings.value | escape('js') }}');
                //renderPreview({{loop.index}});


            {% endfor %}
        });        

    </script>
    
   <script id="template" type="text/twig-template">
        Hello, {{ name }}!
        Hier noch weitere Testdaten
    </script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var templateContent = document.getElementById('template').innerHTML;
        var template = Twig.twig({
            data: templateContent
        });

        var output = template.render({ name: "World" });
        document.getElementById('result').innerHTML = output;
    });
</script>

{% endblock %}
