{% block navigation %}
    {% set rights = workstation.useraccount.rights %}

    <ul class="nav__list">
    {% if workstation %}
        <li class="nav__block">
            <ul class="nav__list">
            {% if not workstation.scope.id %}
                <li class="nav__link{{ menuActive == 'select'? ' active' }}">
                    <a title="{% trans %}W채hlen Sie hier den Standort f체r Ihre Statistikabfragen{% endtrans %}" href="{{ urlGet('workstationSelect', {}, {}) }}"{{ menuActive == 'select'? ' aria-current="page"' }}>Standort ausw채hlen</a>
                </li>
            {% endif %}
            {% if workstation.scope.id %}
                <li class="nav__link">
                    <h3 class="nav__heading">
                        <span class="heading__label">Auswertungen</span>
                    </h3>
                    <ul class="nav__list">
                        <li class="nav__link{{ menuActive == 'client'? ' active' }}">
                            <a title="{% trans %}Ausgabe der Kundenstatistik (wieviele Kunden mit wievielen Dienstleistungen in welchem Zeitraum), inkl. SMS-Auswertung{% endtrans %}" href="{{ urlGet('ReportClientIndex', {}, {}) }}">Kundenstatistik</a>
                        </li>
                        <li class="nav__link{{ menuActive == 'request'? ' active' }}">
                            <a title="{% trans %}Ausgabe der Dienstleistungsstatistik (wieviele und welche Dienstleistungen in welchem Zeitraum){% endtrans %}" href="{{ urlGet('ReportRequestIndex', {}, {}) }}">Dienstleistungsstatistik</a>
                        </li>
                        <li class="nav__link{{ menuActive == 'waiting'? ' active' }}">
                            <a title="{% trans %}Ausgabe der Wartestatistik{% endtrans %}" href="{{ urlGet('ReportWaitingIndex', {}, {}) }}">Wartestatistik</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
        <li>
        <li class="nav__block">
            <h3 class="nav__heading">
                <span class="heading__label">Rohdaten</span>
                <span class="heading__button js-nav-heading" role="button" aria-expanded="false">Rohdaten</span>
            </h3>
            <ul class="nav__list">
                <li class="nav__link{{ menuActive == 'warehouse'? ' active' }}">
                    <a title="{% trans %}Ausgabe der Statistik-Rohdaten nach Kategorien{% endtrans %}" href="{{ urlGet('WarehouseIndex', {}, {}) }}">Kategorien</a>
                </li>
            </ul>
        </li>
    {% else %}
        <li class="nav__block">
            <h3 class="nav__heading">
                <span class="heading__button js-nav-heading" role="button" aria-expanded="false">Weiterf체hrende Links</span>
            </h3>
             <ul class="nav__list">
                <li class="nav__link">
                    <a class="extern" title="{% trans %}Zum Sachbearbeiter / Tresenplatz{% endtrans %}" href="{{ includeUrl() }}/../admin/" target="_blank">Tresen/Sachbearbeiter</a>
                </li>
            </ul>
        </li>
    {% endif %}
    </ul><!-- /nav__list -->

{% endblock %}
