{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}
{% use "block/report/advancedInfo.twig" %}

{% block headline %}
    {{ headline1("Dienstleistungsstatistik") }}
{% endblock %}

{% block content %}
<div class="counter-view" data-includeurl="{{ includeUrl() }}">
    <div class="report-index">
        {% embed "block/report/period.twig" with {"source":source, "items": requestPeriod, "selected": period} %}
        {% endembed %}

        <form class="form--base panel--heavy">
        {% embed "block/report/reportFilter.twig" %}
        {% endembed %}
        </form>

        {% embed "block/report/board.twig" with {'source':source, 'class': 'board--spaceless', "selected": period} %}
        {% import "element/helper/snippets.twig" as timeutils %}
        {% block board_body %}
        {% if selected or dateRange %}
            {% if exchangeRequest.period == "day" %}
                {% set startDate = "%s-%s-%s"|format(exchangeRequest.firstDay.year, exchangeRequest.firstDay.month, exchangeRequest.firstDay.day) %}
                {% set endDate = "%s-%s-%s"|format(exchangeRequest.lastDay.year, exchangeRequest.lastDay.month, exchangeRequest.lastDay.day) %}
                {% set month = exchangeRequest.firstDay.month %} 
                {% set year = exchangeRequest.firstDay.year %}

                {% set start = date(startDate) %}
                {% set end = date(endDate) %}

                {% set dateRange = [] %}
                {% for i in range(0, (end.timestamp - start.timestamp) // 86400) %}
                    {% set fullDate = (start.timestamp + (i * 86400)) | date('Y-m-d') %}
                    {% set dateRange = dateRange|merge([fullDate]) %}
                {% endfor %}
            {% elseif exchangeRequest.period == "month" %}
                {% set startDate = "%s-%s"|format(exchangeRequest.firstDay.year, exchangeRequest.firstDay.month) %}
                {% set endDate = "%s-%s"|format(exchangeRequest.lastDay.year, exchangeRequest.lastDay.month) %}
                {% set dateRange = range(startDate|date('n'), endDate|date('n'), 1 ) %}
            {% endif %}
            <table class="table--base">
                <thead>
                    <tr>
                        <th class="statistik" style="width: 1%; white-space: nowrap;">
                            <span class="keinumbruch">
                                {% trans %}Dienstleistung{% endtrans %}
                            </span>
                        </th>
                    {% if exchangeRequest.period == "day" %}
                        <th class="statistik">Ø Bearbei-tungsdauer</th>
                        <th class="statistik">Summe</th>
                    {% elseif exchangeRequest.period == "month" %}
                        <th class="statistik">{{ startDate|date('Y') }}</th>
                    {% endif %}
                    {% for date in dateRange %}
                        {% if exchangeRequest.period == "day" %}
                            <th class="statistik">{{ date|date('d.m.') }}</th>
                        {% elseif exchangeRequest.period == "month" %}
                            <th class="statistik">&nbsp;{{ (startDate|date('Y') ~"-"~ "%02d"|format(date))|format_date(pattern="LLL") }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% set totalSum = 0 %}

                    {% for name, entry in exchangeRequest.data %}

                        {% if name != "average_processingtime" and name != "sum" %}
                        <tr>
                            <th class="report-board--long-text">{{ name|trans }}</th>

                            {% if exchangeRequest.period == "day" %}
                                <td class="report-board--summary">
                                    {{ timeutils.formatMinutesToTime(exchangeRequest.data.average_processingtime[name]) }}
                                </td>
                            {% endif %}

                            <td class="report-board--summary">
                                {{ exchangeRequest.data.sum[name] }}
                            </td>

                            {% set totalSum = totalSum + (exchangeRequest.data.sum[name]|default(0)) %}

                            {% for date in dateRange %}
                                {% if exchangeRequest.period == "day" %}
                                    <td>
                                        <span class="{% if not entry[date].requestscount %}ausgegraut{% endif %}">
                                            {{ entry[date].requestscount|default("-") }}
                                        </span>
                                    </td>
                                {% elseif exchangeRequest.period == "month" %}
                                    {% set formattedDate = startDate|date('Y') ~"-"~ "%02d"|format(date) %}
                                    <td>
                                        <span class="{% if not entry[formattedDate].requestscount %}ausgegraut{% endif %}">
                                            {{ entry[formattedDate].requestscount|default("-") }}
                                        </span>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endif %}
                    {% endfor %}

                    <tr>
                        <th class="report-board--long-text">Summe</th>

                        {% if exchangeRequest.period == "day" %}
                            <td class="report-board--summary">-</td>
                        {% endif %}

                        <td class="report-board--summary">
                            {{ totalSum }}
                        </td>

                        {% for date in dateRange %}
                            {% set dateSum = 0 %}
                            {% if exchangeRequest.period == "day" %}
                                {% for name, entry in exchangeRequest.data %}
                                    {% if name != "average_processingtime" and name != "sum" %}
                                        {% set dateSum = dateSum + (entry[date].requestscount|default(0)) %}
                                    {% endif %}
                                {% endfor %}
                            {% elseif exchangeRequest.period == "month" %}
                                {% set formattedDate = startDate|date('Y') ~"-"~ "%02d"|format(date) %}
                                {% for name, entry in exchangeRequest.data %}
                                    {% set dateSum = dateSum + (entry[formattedDate].requestscount|default(0)) %}
                                {% endfor %}
                            {% endif %}

                            <td class="report-board--summary">
                                {{ dateSum }}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% else %}
            {{ block("board_body_noperiod") }}
        {% endif %}
        {% endblock %}
        {% endembed %}
        </div>
    </div>
{% endblock %}
