{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}
{% use "block/report/advancedInfo.twig" %}

{% block headline %}
    {{ headline1("Wartestatistik") }}
{% endblock %}

{% block content %}
<div class="counter-view" data-includeurl="{{ includeUrl() }}">
    <div class="report-index">
        {% embed "block/report/period.twig" with {"source":source, "items": waitingPeriod, "selected": period} %}
        {% endembed %}

        <form class="form--base panel--heavy">
        {% embed "block/report/reportFilter.twig" %}
        {% endembed %}
        </form>

        {% set reportSections = [
            {'title': 'Terminkunden', 'suffix': '_termin'},
            {'title': 'Spontankunden', 'suffix': ''}
        ] %}

        {% for section in reportSections %}
            <h2>{{ section.title }}</h2>

            {% embed "block/report/board.twig" with {'source':source, 'class': 'board--spaceless', "selected": period} %}
            {% import "element/helper/snippets.twig" as timeutils %}
            {% block board_body %}
            {% if selected or dateRange %}
                {% if exchangeWaiting.period == "day" %}
                    {% set startDate = "%s-%s-%s"|format(exchangeWaiting.firstDay.year, exchangeWaiting.firstDay.month, exchangeWaiting.firstDay.day) %}
                    {% set endDate = "%s-%s-%s"|format(exchangeWaiting.lastDay.year, exchangeWaiting.lastDay.month, exchangeWaiting.lastDay.day) %}
                    {% set start = date(startDate) %}
                    {% set end = date(endDate) %}
                    {% set dateRange = [] %}
                    {% for i in range(0, (end.timestamp - start.timestamp) // 86400) %}
                        {% set fullDate = (start.timestamp + (i * 86400)) | date('Y-m-d') %}
                        {% set dateRange = dateRange|merge([fullDate]) %}
                    {% endfor %}
                {% elseif exchangeWaiting.period == "month" %}
                    {% set startDate = "%s-%s"|format(exchangeWaiting.firstDay.year, exchangeWaiting.firstDay.month) %}
                    {% set endDate = "%s-%s"|format(exchangeWaiting.lastDay.year, exchangeWaiting.lastDay.month) %}
                    {% set dateRange = range(startDate|date('n'), endDate|date('n'), 1 ) %}
                {% endif %}

                <div class="table-wrapper">
                <table class="table--base">
                    <thead>
                        <tr>
                            <th class="statistik" style="width: 1%; white-space: nowrap;">
                                <span class="keinumbruch">
                                    {% trans %}Zeitabschnitte{% endtrans %}
                                </span>
                            </th>
                            {% if exchangeWaiting.period == "day" %}
                                <th class="statistik">Zeilenmaximum</th>
                            {% elseif exchangeWaiting.period == "month" %}
                                <th class="statistik">{{ startDate|date('Y') }}</th>
                            {% endif %}
                            {% for date in dateRange %}
                                {% if exchangeWaiting.period == "day" %}
                                    <th class="statistik">{{ date|date('d.m.') }}</th>
                                {% elseif exchangeWaiting.period == "month" %}
                                    <th class="statistik">&nbsp;{{ (startDate|date('Y') ~"-"~ "%02d"|format(date))|format_date(pattern="LLL") }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for hour in 6..18 %}
                            <tr>
                                <th>
                                    {{ hour }} - {{ hour + 1 }} {% trans %}Uhr{% endtrans %}<br>
                                    {% trans %}Anzahl der Wartenden{% endtrans %}<br>
                                    {% trans %}Durchschnittliche Wartezeit (Min.){% endtrans %}<br>
                                    {% trans %}Durchschnittliche Wegezeit (Min.){% endtrans %}
                                </th>
                                <td class="statistik" style="text-align: right;">
                                    <span class="{% if not exchangeWaiting.data.max[hour]['waitingcount' ~ section.suffix] %}ausgegraut{% endif %}">
                                        {{ exchangeWaiting.data.max[hour]['waitingcount' ~ section.suffix]|default(0) }}
                                    </span><br>
                                    <span class="{% if not exchangeWaiting.data.max[hour]['waitingtime' ~ section.suffix] %}ausgegraut{% endif %}">
                                        {{ timeutils.formatMinutesToTime(exchangeWaiting.data.max[hour]['waitingtime' ~ section.suffix]) }}
                                    </span><br>
                                    <span class="{% if not exchangeWaiting.data.max[hour]['waytime' ~ section.suffix] %}ausgegraut{% endif %}">
                                        {{ timeutils.formatMinutesToTime(exchangeWaiting.data.max[hour]['waytime' ~ section.suffix]) }}
                                    </span>
                                </td>

                                {% for date in dateRange %}
                                    {% set formattedDate = exchangeWaiting.period == "day"
                                        ? date
                                        : startDate|date('Y') ~ "-" ~ "%02d"|format(date)
                                    %}
                                    <td class="statistik" style="text-align: right;">
                                        <span class="{% if not exchangeWaiting.data[formattedDate][hour]['waitingcount' ~ section.suffix] %}ausgegraut{% endif %}">
                                            {{ exchangeWaiting.data[formattedDate][hour]['waitingcount' ~ section.suffix]|default(0) }}
                                        </span><br>
                                        <span class="{% if not exchangeWaiting.data[formattedDate][hour]['waitingtime' ~ section.suffix] %}ausgegraut{% endif %}">
                                            {{ timeutils.formatMinutesToTime(exchangeWaiting.data[formattedDate][hour]['waitingtime' ~ section.suffix]) }}
                                        </span><br>
                                        <span class="{% if not exchangeWaiting.data[formattedDate][hour]['waytime' ~ section.suffix] %}ausgegraut{% endif %}">
                                            {{ timeutils.formatMinutesToTime(exchangeWaiting.data[formattedDate][hour]['waytime' ~ section.suffix]) }}
                                        </span>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        <tr>
                            <th class="statistik">
                                <p title="Höchster Wert der unten angegebenen stündlichen Durchschnittswerte der Wartezeit" style="cursor: help;">{% trans %}Spaltenmaximum der Wartezeit in Min.{% endtrans %}</p>
                                <p title="Durchschnitt aller stündlichen Durchschnittswerte der Wartezeit" style="cursor: help;">{% trans %}Spaltendurchschnitt der Wartezeit in Min.{% endtrans %}</p>
                                <p title="Durchschnitt aller stündlichen Durchschnittswerte der Wegezeit" style="cursor: help;">{% trans %}Spaltendurchschnitt der Wegezeit in Min.{% endtrans %}</p>
                            </th>
                            <td class="statistik" style="text-align: right;">
                                <span class="{% if not exchangeWaiting.data.max['max_waitingtime' ~ section.suffix] %}ausgegraut{% endif %}">
                                    {{ timeutils.formatMinutesToTime(exchangeWaiting.data.max['max_waitingtime' ~ section.suffix]) }}
                                </span><br><br>
                                <span class="{% if not exchangeWaiting.data.max['average_waitingtime' ~ section.suffix] %}ausgegraut{% endif %}">
                                    {{ timeutils.formatMinutesToTime(exchangeWaiting.data.max['average_waitingtime' ~ section.suffix]) }}
                                </span><br><br>
                                <span class="{% if not exchangeWaiting.data.max['average_waytime' ~ section.suffix] %}ausgegraut{% endif %}">
                                    {{ timeutils.formatMinutesToTime(exchangeWaiting.data.max['average_waytime' ~ section.suffix]) }}
                                </span>
                            </td>
                            {% for date in dateRange %}
                                {% set formattedDate = exchangeWaiting.period == "day"
                                    ? date
                                    : startDate|date('Y') ~ "-" ~ "%02d"|format(date)
                                %}
                                <td class="statistik" style="text-align: right;">
                                    <span class="{% if not exchangeWaiting.data[formattedDate]['max_waitingtime' ~ section.suffix] %}ausgegraut{% endif %}">
                                        {{ timeutils.formatMinutesToTime(exchangeWaiting.data[formattedDate]['max_waitingtime' ~ section.suffix]) }}
                                    </span><br><br>
                                    <span class="{% if not exchangeWaiting.data[formattedDate]['average_waitingtime' ~ section.suffix] %}ausgegraut{% endif %}">
                                        {{ timeutils.formatMinutesToTime(exchangeWaiting.data[formattedDate]['average_waitingtime' ~ section.suffix]) }}
                                    </span><br><br>
                                    <span class="{% if not exchangeWaiting.data[formattedDate]['average_waytime' ~ section.suffix] %}ausgegraut{% endif %}">
                                        {{ timeutils.formatMinutesToTime(exchangeWaiting.data[formattedDate]['average_waytime' ~ section.suffix]) }}
                                    </span>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
                </div>
            {% else %}
                {{ block("board_body_noperiod") }}
            {% endif %}
            {% endblock %}
            {% endembed %}
        {% endfor %}

        {% if period %}
            {{ block("advancedInfoWaiting") }}
        {% endif %}
    </div>
</div>
{% endblock %}
