{% block navigation %}
    {% set rights = workstation.useraccount.rights %}

    <div class="navigation">
        <ul class="nav">
            {% if workstation %}
            <li>
                <h3 class="navigation__title">Statistik</h3>
                <ul>
                    <li>
                            <a title="{% trans %}W채hlen Sie hier den Standort f체r Ihre Statistikabfragen{% endtrans %}" class="nav__item{% if menuActive == 'select' %} active{% endif %}" href="{{ urlGet('workstationSelect', {}, {}) }}">Standort ausw채hlen</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if workstation.scope.id %}
            <li>
                <h3 class="navigation__title">Auswertungen</h3>
                <ul>
                        <li>
                                <a title="{% trans %}Ausgabe der Kundenstatistik (wieviele Kunden mit wievielen Dienstleistungen in welchem Zeitraum), inkl. SMS-Auswertung{% endtrans %}" class="nav__item{% if menuActive == 'client' %} active{% endif %}" href="{{ urlGet('ReportClientIndex', {}, {}) }}">Kundenstatistik</a>
                        </li>
                        <li>
                                <a title="{% trans %}Ausgabe der Dienstleistungsstatistik (wieviele und welche Dienstleistungen in welchem Zeitraum){% endtrans %}" class="nav__item{% if menuActive == 'request' %} active{% endif %}" href="{{ urlGet('ReportRequestIndex', {}, {}) }}">Dienstleistungsstatistik</a>
                        </li>
                        <li>
                                <a title="{% trans %}Ausgabe der Wartestatistik{% endtrans %}" class="nav__item{% if menuActive == 'waiting' %} active{% endif %}" href="{{ urlGet('ReportWaitingIndex', {}, {}) }}">Wartestatistik</a>
                        </li>
                </ul>
            </li>
            {% endif %}
            <li>
                <h3 class="navigation__title">Rohdaten</h3>
                <ul>
                        <li>
                                <a title="{% trans %}Ausgabe der Statistik-Rohdaten nach Kategorien{% endtrans %}" class="nav__item{% if menuActive == 'warehouse' %} active{% endif %}" href="{{ urlGet('WarehouseIndex', {}, {}) }}">Kategorien</a>
                        </li>
                </ul>
            </li>
            <li>
                <h3 class="navigation__title">Weiterf체hrende Links</h3>
                <ul>
                    <li>
                        <a title="{% trans %}Zum Sachbearbeiter / Tresenplatz{% endtrans %}" class="nav__item extern" href="{{ includeUrl() }}/../admin/" target="_blank">Tresen/Sachbearbeiter</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

{% endblock %}
