{% block navigation %}
    {% set rights = workstation.useraccount.rights %}

    <div class="navigation">
        <ul class="nav">
            <li>
                <h3 class="navigation__title">Statistik</h3>
                <ul>
                    <li>
                            <a class="nav__item{% if menuActive == 'select' %} active{% endif %}" href="{{ urlGet('workstationSelect', {}, {}) }}">Standort auswählen</a>
                    </li>
                </ul>
            </li>
            {% if workstation.scope.id %}
            <li>
                <h3 class="navigation__title">Auswertungen</h3>
                <ul>
                        <li>
                                <a class="nav__item{% if menuActive == 'client' %} active{% endif %}" href="{{ urlGet('ReportClientIndex', {}, {}) }}">Kundenstatistik</a>
                        </li>
                        <li>
                                <a class="nav__item{% if menuActive == 'request' %} active{% endif %}" href="{{ urlGet('ReportRequestIndex', {}, {}) }}">Dienstleistungsstatistik</a>
                        </li>
                        <li>
                                <a class="nav__item{% if menuActive == 'waitingnumber' %} active{% endif %}" href="{{ urlGet('ReportWaitingnumberIndex', {}, {}) }}">Wartestatistik</a>
                        </li>
                </ul>
            </li>
            <li>
                <h3 class="navigation__title">Rohdaten</h3>
                <ul>
                        <li>
                                <a class="nav__item{% if menuActive == 'warehouse' %} active{% endif %}" href="{{ urlGet('WarehouseIndex', {}, {}) }}">Kategorien</a>
                        </li>
                </ul>
            </li>
            {% endif %}
            <li>
                <h3 class="navigation__title">Weiterführende Links</h3>
                <ul>
                    <li>
                        <a class="nav__item extern" href="/terminvereinbarung/admin/" target="_blank">Tresen/Sachbearbeiter</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

{% endblock %}
