{% embed "block/scaffholding/board.twig" with {'class': 'queue-info'} %}

        {% block board_title %}
            Informationen
        {% endblock %}

        {% block board_body %}
                <ul class="list list--table bordered">
                    <li>
                        <div class="cell middle">
                            {% if workstationInfo.workstationList|length == 1 and workstationInfo.workstationGhostCount == 0 %}
                                {% set placesName = "Arbeitsplätze" %}  
                            {% elseif workstationInfo.workstationGhostCount == 1 %}
                                {% set placesName = "Arbeitsplätze" %}  
                            {% else %}
                                {% set placesName = "Arbeitsplätze" %}
                            {% endif %}

                            {% set toolTip = "" %}
                            {% set linebreak = "\n" %}
                            {% for workstation in workstationInfo.workstationList %}
                                {% if loop.last %}{% set linebreak = "" %}{% endif %}
                                {% set toolTip = toolTip ~ workstation.useraccount.id ~ " an Platz " ~ workstation.name ~ linebreak %}
                            {% endfor %}
                            <h4>
                            <span class="tooltip" title="{{ toolTip|e('html') }}">
                                {{ placesName }} besetzt:
                            </span>
                            </h4>
                        </div>
                        <div class="cell right middle">
                            {% if workstationInfo.workstationGhostCount > 0 %}
                                {{ workstationInfo.workstationGhostCount }} ({{ workstationInfo.workstationList|length }})
                            {% else %}
                                {{ workstationInfo.workstationList|length }}
                            {% endif %}
                        </div>
                    </li>

                    <li>
                        <div class="cell middle">
                            <h4>
                            {% if workstation.queue.clusterEnabled == 0 %}    
                                Fiktive Arbeitsplätze:
                            {% else %}
                                Fiktive Arbeitsplätze sind in der Clusteransicht nicht möglich
                            {% endif %}  
                            </h4>
                        </div>
                        <div class="cell right middle">
                            {% if workstation.queue.clusterEnabled == 0 %}    
                            <form id="ghostworkstation-select-form">
                                <label for="workstaionCnt" class="aural">Anzahl fiktiver Arbeitsplätze</label>
                                <select name="count" class="form-control" id="workstaionCnt" style="min-width: 3.6em;">
                                    <option value="-1">{% trans %}korrekt{% endtrans %}</option>
                                    {% for count in 0..31  %}
                                    <option value="{{ count }}" {% if workstationInfo.workstationGhostCount == count %}selected{% endif %}>
                                        {{ count }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </form>
                            {% endif %} 
                        </div>
                    </li>
                    <li>
                        <div class="cell middle">
                        <h4>{% trans %}Anzahl Vorgänge in Arbeit{% endtrans %}:</h4>
                        </div>
                        <div class="cell right">
                        {{ workstationInfo.countCurrentlyProcessing }}
                        </div>
                    </li>
                    <li>
                        <div class="cell middle">
                        <h4>{% trans %}Anzahl offener Vorgänge{% endtrans %}:</h4>
                        </div>
                        <div class="cell right">
                        {{ workstationInfo.waitingClientsFullList }}
                        </div>
                    </li>
                    {% if selectedDate == getNow()|date('Y-m-d') %}
                
                    <li>
                        <div class="cell middle">
                        <h4>{% trans %}davon vor nächstem Spontankunden{% endtrans %}:</h4>
                        </div>
                        <div class="cell right">
                        {{ workstationInfo.waitingClientsBeforeNext }}
                        </div>
                    </li>

                    <li>
                        <div class="cell middle">
                        <h4>{% trans %}Wartezeit für neue Spontankunden{% endtrans %}:</h4>
                        </div>
                        <div class="cell right">
                            {% if workstationInfo.workstationGhostCount == 0 %}
                                <span class="color-red">{% trans %}unbekannt{% endtrans %}</span>
                            {% else %}
                                <strong>
                                {#
                                {% if workstationInfo.waitingTimeEstimate < 60 and workstation.waitingTime > 0 %}
                                    00:{{ workstationInfo.waitingTimeEstimate }}
                                {% else %}
                                    {% set minutes = (workstationInfo.waitingTimeEstimate % 60) %}
                                    {% set hours = (workstationInfo.waitingTimeEstimate / 60)|round(0, 'floor') %}
                                    {{ "%02d"|format(hours) ~ ':' ~ "%02d"|format(minutes) }}
                                {% endif %}
                                #}
                                {% if workstationInfo.waitingTimeEstimate < 120 %}
                                    {{ workstationInfo.waitingTimeOptimistic }} - {{ workstationInfo.waitingTimeEstimate }}<br />{{ "%s"|format("Minuten")|trans }}
                                {% else %}
                                    {% set minutes = (workstationInfo.waitingTimeEstimate % 60) %}
                                    {% set hours = (workstationInfo.waitingTimeEstimate / 60)|round(0, 'floor') %}
                                    {{ "%02d"|format(hours) ~ ':' ~ "%02d"|format(minutes) }}
                                {% endif %}
                                </strong>
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        <div class="cell middle">
                            <h4>{% trans %}Durchschnittliche Wartezeit von Terminkunden{% endtrans %}:</h4>
                        </div>
                        <div class="cell right">
                            {{ workstationInfo.averageWaitingTimeWithAppointment|round }} Minuten
                        </div>
                    </li>
                    <li>
                        <div class="cell middle">
                            <h4>{% trans %}Durchschnittliche Wartezeit von Spontankunden{% endtrans %}:</h4>
                        </div>
                        <div class="cell right">
                            {{ workstationInfo.averageWaitingTimeWithoutAppointment|round }} Minuten
                        </div>
                    </li>
                        <li>
                            <div class="cell middle">
                                <h4>{% trans %}Wartende{% endtrans %}:</h4>
                            </div>
                            <div class="cell right">
                                <span class="waiting-count">{{ workstationInfo.waitingClientsEffective }}</span>

                                {% set waiting_customers = workstationInfo.waitingClientsEffective %}

                                {% if waiting_customers >= 0 and waiting_customers <= 10 %}
                                    <div class="traffic-light green" title="Grün" alt="Grün"></div>
                                {% elseif waiting_customers >= 11 and waiting_customers <= 20 %}
                                    <div class="traffic-light yellow" title="Gelb" alt="Gelb"></div>
                                {% elseif waiting_customers >= 21 and waiting_customers <= 40 %}
                                    <div class="traffic-light orange" title="Orange" alt="Orange"></div>
                                {% elseif waiting_customers >= 41 %}
                                    <div class="traffic-light red" title="Rot" alt="Rot"></div>
                                {% endif %}
                            </div>
                        </li>

                        <style>
                            .cell.right {
                                display: flex;
                                align-items: center;  /* Vertically align the items in the center */
                                gap: 10px;  /* Adds space between the number and the traffic light */
                            }

                            .waiting-count {
                                font-size: 16px;  /* Style for the number */
                                font-weight: bold;
                            }

                            .traffic-light {
                                width: 12px;
                                height: 12px;
                                border-radius: 50%;
                                display: inline-block;
                                background-color: #ccc;  /* Default background color for unstyled traffic lights */
                                text-align: center;
                                line-height: 12px;
                                color: white;
                                border: 2px solid #222;
                            }

                            .green {
                                background-color: rgba(0, 255, 0, 0.5);  /* Green */
                            }

                            .yellow {
                                background-color: rgba(255, 255, 0, 0.5);  /* Yellow */
                            }

                            .orange {
                                background-color: rgba(255, 127, 0, 0.5);  /* Orange */
                            }

                            .red {
                                background-color: rgba(255, 0, 0, 0.5);  /* Red */
                            }

                        </style>
                {% endif %}
                
                </ul>

        {% endblock %}
{% endembed %}
