{% embed "block/scaffholding/board.twig" with {'class': 'board--spaceless queue-table'} %}
	{% use "block/calendar/navigation.twig" %}
	{% use "block/workstation/scopeSwitch.twig" %}
	{% from 'element/helper/form.twig' import formgroup, formbutton, inputfield %}

	{% block board_header_right %}
		{% if cluster.scopes|length > 1 %}
			{{ block('scope_switch') }}
		{% endif %}
		<form action="{{ urlGet('workstationSelect') }}" method="POST">
			{{ formgroup(
                    {"label": "", "description": "", "class":"appointmentsOnly"},
                    [{
                        "type":"checkbox",
                        "parameter": {
                            "title": "Spontankunden einblenden / ausblenden",
                            "name": "appointmentsOnly",
                            "label": "Spontankunden einblenden",
                            "value": "1",
                            "checked": workstation.queue.appointmentsOnly
                        }
                    }]
                ) }}
			{% if clusterEnabled %}
				{% set workstationScope = 'cluster' %}
			{% else %}
				{% set workstationScope = workstation.scope.id %}
			{% endif %}
			{{ inputfield({ "name":"redirect", "type":"hidden", "class": "sourceAppointmentsOnly" }) }}
			{#{ inputfield({ "name":"selectedDate", "type":"hidden", "value":selectedDate }) }#}
			{{ inputfield({ "name":"scope", "type":"hidden", "value":workstationScope }) }}
		</form>
		<a href="#" title="Liste neu laden" class="button button--diamond reload">
			<i class="fas fa-sync" aria-hidden="true"></i>
			<span class="aural">Liste neu laden</span>
		</a>
		<a href="{{urlGet('scopeAppointmentsByDay', {id: workstation.scope.id, date: selectedDate})}}?print=1" target="_blank" title="Drucken" class="button button--diamond print">
			<i class="fas fa-print" aria-hidden="true"></i>
			<span class="aural">Drucken</span>
		</a>
		<a href="{{urlGet('scopeAppointmentsByDaySpreadsheet', {id: workstation.scope.id, date: selectedDate})}}" target="_blank" title="Download" class="button button--diamond download">
			<i class="fas fa-download" aria-hidden="true"></i>
			<span class="aural">Download</span>
		</a>
	{% endblock %}
	{% block board_title %}
		{% trans %}
			<span class="color-blue">
				<i class="fas fa-map-marker" aria-hidden="true"></i>
			</span>
		{% endtrans %}
		{% if clusterEnabled and cluster.scopes|length <= 1 %}
			Standort - {{ scope.contact.name }}
			{{ scope.shortName }}
		{% elseif clusterEnabled %}
			Cluster - {{cluster.name}}
		{% elseif not clusterEnabled %}
			Standort - {{ workstation.scope.contact.name }}
			{{ workstation.scope.shortName }}
		{% endif %}
	{% endblock %}
	{% block board_title_aside %}
		<strong class="date">{{ selectedDate|format_date(pattern="EE dd. MMMM y")}}</strong>
		{{ block('calender_navigation_day') }}
	{% endblock %}

	{% block board_body %}
		<div class="table-responsive-wrapper">
			<h2>
				<span class="color-yellow">
					<i class="fas fa-pause-circle" aria-hidden="true"></i>
				</span>
				Geparkte Termine</h2>
			{% if processListParked|length %}
				<div class="table-responsive-wrapper">
					<table id="table-parked-appointments" class="table--base compact">
						<thead>
							<tr>
								<th>Lfdnr.</th>
								{#<th class="queue-status"></th>#}
								{% if clusterEnabled %}
									<th title="{% trans %}Standort im Cluster{% endtrans %}">Kürzel</th>
								{% endif %}
								<th>Uhrzeit</th>
								<th>Nr.</th>
								<th>Name
									<small>(Aufrufe)</small>
								</th>
								<th>Telefon</th>
								<th>Mail</th>
								<th>Dienstleistung</th>
								<th>Anmerkung</th>
								{% if workstation.scope.preferences.client.customTextfieldActivated|default(0) == 1 %}
									<th>{{workstation.scope.preferences.client.customTextfieldLabel}}</th>
								{% endif %}
								<th>Wartezeit</th>
								<th>Aktion</th>
							</tr>
						</thead>
						{% set lfdnr = 0 %}
						{% for item in processListParked %}
							{% set lfdnr = lfdnr + 1 %}
							<tr class="parked">
								<td>
									{% if clusterEnabled %}
										{{ item.scope.shortName }}
									{% else %}
										{{ lfdnr }}.
									{% endif %}
								</td>
								<td>
									{% if item.queue.withAppointment %}
										{{ item.appointments|first.date|date("H:i") }}
									{% else %}
										{{ item.queue.arrivalTime|date("H:i") }}
									{% endif %}
								</td>
								<td>
									{% if item.queue.status != "reserved" and source != 'counter' and (workstation.scope.id == item.scope.id or allowClusterWideCall) and isToday %}
										<a title="{% trans %}Diesen Bürger aufrufen{% endtrans %}" href="{{ urlGet('workstation', {}, {'calledprocess': item.id}) }}" data-process="{{ item.id }}">
											{{ item.queue.number }}
										</a>
									{% else %}
										{{ item.queue.number }}
									{% endif %}
								</td>
								<td>
									{% if item.clients|first.familyName %}
										{{ item.clients|first.familyName }}{% else %}Wartenummer
										{{ item.queue.number }}
									{% endif %}
								</td>
								<td>{{ item.clients|first.telephone }}</td>
                                <td class="center nowrap">
                                    {% if item.clients|first.email and workstation.scope.preferences.client.emailFrom %}
                                        <a data-process="{{ item.id }}" href="#" class="icon process-custom-mail-send" title="e-Mail versenden">
                                            <i class="fas fa-envelope" aria-hidden="true"></i>
                                            <span class="aural">Email</span>
                                        </a>
                                        {% if item.clients|first.emailSendCount %}
                                            <span class="counter">{{ item.clients|first.emailSendCount }}</span>
                                        {% endif %}
                                    {% endif %}
                                </td> 
								<td title="{% for request in item.requests%}{{request.name}}{% if not loop.last %}; {% endif %}{% endfor %}">
									{{ item.requests|first.name }}
									{% if item.requests|length > 1 %}
										+{{ (item.requests|length) - 1 }}
									{% endif %}
								</td>
								{#DL#}                               
								<td>Dieser Kunde ist geparkt</td>
								{% if workstation.scope.preferences.client.customTextfieldActivated|default(0) == 1 %}
									<td>
										{{ item.customTextfield|decodeEntities|raw }}
									</td>
								{% endif %}
								<td class="nowrap">
									{% if item.queue.withAppointment %}
										Termin
									{% else %}
										Spontankunde
									{% endif %}
								</td>
								<td>
									<p>
										<a title="{% trans %}wieder aufrufen{% endtrans %}" href="{{ urlGet('workstation', {}, {'calledprocess': item.id}) }}" data-process="{{ item.id }}">wieder aufrufen</a>
										{{ callCount|raw }}
                                    </p>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% else %}
				Keine Einträge gefunden.
			{% endif %}
		</div>
		<div class="table-responsive-wrapper">
			<h2>
				<span class="color-blue">
					<i class="fas fa-clock" aria-hidden="true"></i>
				</span>
				Warteschlange</h2>
			{% if processList|length %}
				<table id="table-queued-appointments" class="table--base compact">
					<thead>
						<tr>
							<th>Lfdnr.</th>
							{#<th class="queue-status"></th>#}
							{% if clusterEnabled %}
								<th title="{% trans %}Standort im Cluster{% endtrans %}">Kürzel</th>
							{% endif %}
							<th>Uhrzeit</th>
							<th>Nr.</th>
							<th>Name
								<small>(Aufrufe)</small>
							</th>
							<th>Telefon</th>
							<th>Mail</th>
							<th>Dienstleistung</th>
							<th>Anmerkung</th>
							{% if workstation.scope.preferences.client.customTextfieldActivated|default(0) == 1 %}
								<th>{{workstation.scope.preferences.client.customTextfieldLabel}}</th>
							{% endif %}
							<th>Wartezeit</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% set lfdnr = 0 %}
						{% for item in processList %}
							{% set lfdnr = lfdnr + 1 %}
							{% set tense = "past" %}
							{% set statusTitle = "Dieser Termin ist aktiv, liegt aber in der Vergangenheit" %}
							{% set isToday = item.appointments|first.date|date('Y-m-d') == getNow()|date('Y-m-d') %}
							{% if item.appointments|first.date >= getNow()|date("U") %}
								{% set tense = "future" %}
								{% set statusTitle = "Dieser Termin ist aktiv und liegt in der Zukunt" %}
							{% endif %}
							{% set hideWithOutAppointment = false %}
							{% if 0 == workstation.queue.appointmentsOnly and not item.queue.withAppointment %}
								{% set hideWithOutAppointment = true %}
							{% endif %}
							{% if not hideWithOutAppointment %}
								<tr
									class="{{ tense }} {{ item.queue.status }} {{ item.queue.status == 'preconfirmed' ? 'reserved' : '' }} " title="{% if item.queue.status == "reserved" or item.queue.status == "preconfirmed" %}{% trans %}Der Termin ist vorübergehend reserviert und wird ohne Bestätigung in wenigen Minuten gelöscht{% endtrans %}{% endif %}">
									{#<td class="queue-status" title="{{ statusTitle }}"></td>#}
									<td>
										{% if clusterEnabled %}
											{{ item.scope.shortName }}
										{% else %}
											{{ lfdnr }}.
										{% endif %}
									</td>
									<td>
										{% if item.queue.withAppointment or item.queue.status == "reserved" or item.queue.status == "preconfirmed" %}
											{{ item.appointments|first.date|date("H:i") }}
										{% else %}
											{{ item.queue.arrivalTime|date("H:i") }}
										{% endif %}
										{% if item.queue.waitingTime and isToday %}
											<p class="queue-table-amendment-time">+{{ item.queue.waitingTime}}&nbsp;Min.</p>
										{% endif %}
									</td>
									<td>
										{% if item.queue.status != "reserved" and source != 'counter' and (workstation.scope.id == item.scope.id or allowClusterWideCall) and isToday %}
											<a title="{% trans %}Diesen Bürger aufrufen{% endtrans %}" href="{{ urlGet('workstation', {}, {'calledprocess': item.id}) }}" data-process="{{ item.id }}">
												{{ item.queue.number }}
											</a>
										{% else %}
											{{ item.queue.number }}
										{% endif %}
									</td>
									<td class="callnextclient">
										{% if item.queue.status == "reserved" %}
											Reservierung
										{% else %}
											{% set familyName = item.clients|first.familyName|decodeEntities|raw %}
											{% set currentTime = "now"|date('U') %}
											{% set timeoutTime = item.timeoutTime|date('U') %}
											{% set fiveMinutes = 300 %}
											{% set timeDiff = currentTime - timeoutTime %}
											{% set callCount = "" %}

											{% if item.queue.callCount > 0 %}
												{% set callCount = "<small>(%d)</small>"|format(item.queue.callCount) %}
											{% endif %}

											{% if timeDiff < fiveMinutes and item.queue.callCount > 0 %}
												{% set remainingTime = fiveMinutes - timeDiff %}
												{% set remainingMinutes = (remainingTime // 60) %}
												{% set remainingSeconds = remainingTime % 60 %}
												{% set formattedTime = '%02d:%02d'|format(remainingMinutes, remainingSeconds) %}
												<b>{{ familyName }}</b>
												{{ callCount|raw }}
												war um
												{{ item.timeoutTime }}
												Uhr nicht anwesend und kann in
												{{ formattedTime }}
												Minuten wieder aufgerufen werden.
											{% elseif source != 'counter' and (workstation.scope.id == item.scope.id or allowClusterWideCall) and isToday %}
												<a title="{% trans %}Diesen Bürger aufrufen{% endtrans %}" href="{{ urlGet('workstation', {}, {'calledprocess': item.id}) }}" data-process="{{ item.id }}">{{ familyName }}</a>
												{{ callCount|raw }}
											{% else %}
												{{ familyName }}
												{{ callCount|raw }}
											{% endif %}
										{% endif %}
									</td>
									<td>
										{% if item.clients|first.telephone and department.preferences.notifications.enabled %}
											<a data-process="{{ item.id }}" class="process-custom-notification-send" href="#">{{ item.clients|first.telephone }}</a>
										{% else %}
											{{ item.clients|first.telephone }}
										{% endif %}
									</td>
									<td class="center nowrap">
										{% if item.clients|first.email and workstation.scope.preferences.client.emailFrom %}
											<a data-process="{{ item.id }}" href="#" class="icon process-custom-mail-send" title="e-Mail versenden">
												<i class="fas fa-envelope" aria-hidden="true"></i>
												<span class="aural">Email</span>
											</a>
											{% if item.clients|first.emailSendCount %}
												<span class="counter">{{ item.clients|first.emailSendCount }}</span>
											{% endif %}
										{% endif %}
									</td>
									<td title="{% for request in item.requests%}{{request.name}}{% if not loop.last %}; {% endif %}{% endfor %}">
										{{ item.requests|first.name }}
										{% if item.requests|length > 1 %}
											+{{ (item.requests|length) - 1 }}
										{% endif %}
									</td>
									<td>
										{{ item.amendment|decodeEntities|raw }}
										<p class="queue-table-amendment-time">
											{% if item.queue.status == "reserved" %}
												{% trans %}reserviert am{% endtrans %}
											{% elseif item.queue.status == "preconfirmed" %}
												{% trans %}Aktivierung ausstehend ab{% endtrans %}
											{% elseif item.queue.status == "deleted" %}
												{% trans %}wird freigegeben ab{% endtrans %}
											{% else %}
												{% trans %}gebucht am{% endtrans %}
											{% endif %}
											{{ item.createTimestamp|date("d.m.Y, H:i") }}&nbsp;Uhr
										</p>
									</td>
									{% if workstation.scope.preferences.client.customTextfieldActivated|default(0) == 1 %}
										<td>
											{{ item.customTextfield|decodeEntities|raw }}
										</td>
									{% endif %}
									<td class="nowrap">
										{% if item.queue.withAppointment %}
											Termin
										{% else %}
											Spontankunde
										{% endif %}
										{% if 1 < item.appointments|first.slotCount %}
											{% set duration = item.appointments|first.availability.slotTimeInMinutes * item.appointments|first.slotCount %}
											({{ duration }}
											min)
										{% endif %}
										{% if (item.queue.waitingTimeEstimate != item.queue.waitingTimeOptimistic) and isToday %}
											<p class="queue-table-amendment-time">+{{ item.queue.waitingTimeOptimistic }}&#8209;{{ item.queue.waitingTimeEstimate }}&nbsp;Min.</p>
										{% endif %}
									</td>
									{% if item.queue.status != "reserved" and item.queue.status != "preconfirmed" %}
										<td class="center">
											<a data-id="{{ item.id }}" data-name="{{ item.queue.withAppointment ? item.clients|first.familyName|raw : ('Wartenummer ' ~ item.queue.number) }}" href="#" class="icon process-delete" title="Löschen">
												<i class="far fa-trash-alt" aria-hidden="true"></i>
												<span class="aural">Löschen</span>
											</a>
										</td>
										<td class="center">
											<a data-id="{{ item.id }}" data-scope-id="{{ item.scope.id }}" href="#" class="icon process-edit" title="Bearbeiten">
												<i class="fas fa-edit" aria-hidden="true"></i>
												<span class="aural">Bearbeiten</span>
											</a>
										</td>
									{% else %}
										<td colspan="2"></td>
									{% endif %}
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			Keine Einträge gefunden.
		{% endif %}
		<div class="table-responsive-wrapper">
			<h2>
				<span class="color-red">
					<i class="fas fa-times-circle" aria-hidden="true"></i>
				</span>
				Verpasste Termine</h2>
			{% if processListMissed|length %}
				<div class="table-responsive-wrapper">
					<table id="table-missed-appointments" class="table--base compact">
						<thead>
							<tr>
								<th>Lfdnr.</th>
								{#<th class="queue-status"></th>#}
								{% if clusterEnabled %}
									<th title="{% trans %}Standort im Cluster{% endtrans %}">Kürzel</th>
								{% endif %}
								<th>Uhrzeit</th>
								<th>Nr.</th>
								<th>Name
									<small>(Aufrufe)</small>
								</th>
								<th>Telefon</th>
								<th>Mail</th>
								<th>Dienstleistung</th>
								<th>Anmerkung</th>
								{% if workstation.scope.preferences.client.customTextfieldActivated|default(0) == 1 %}
									<th>{{workstation.scope.preferences.client.customTextfieldLabel}}</th>
								{% endif %}
								<th>Wartezeit</th>
								<th>Aktion</th>
							</tr>
						</thead>
						{% set lfdnr = 0 %}
						{% for item in processListMissed %}
							{% set lfdnr = lfdnr + 1 %}
							<tr class="missed">
								<td>
									{% if clusterEnabled %}
										{{ item.scope.shortName }}
									{% else %}
										{{ lfdnr }}.
									{% endif %}
								</td>
								<td>
									{% if item.queue.withAppointment %}
										{{ item.appointments|first.date|date("H:i") }}
									{% else %}
										{{ item.queue.arrivalTime|date("H:i") }}
									{% endif %}
								</td>
								<td>
									{% if item.queue.status != "reserved" and source != 'counter' and (workstation.scope.id == item.scope.id or allowClusterWideCall) and isToday %}
										<a title="{% trans %}Diesen Bürger aufrufen{% endtrans %}" href="{{ urlGet('workstation', {}, {'calledprocess': item.id}) }}" data-process="{{ item.id }}">
											{{ item.queue.number }}
										</a>
									{% else %}
										{{ item.queue.number }}
									{% endif %}
								</td>
								<td>
									{% if item.clients|first.familyName %}
										{{ item.clients|first.familyName }}{% else %}Wartenummer
										{{ item.queue.number }}
									{% endif %}
								</td>
								<td>{{ item.clients|first.telephone }}</td>
                                <td class="center nowrap">
                                    {% if item.clients|first.email and workstation.scope.preferences.client.emailFrom %}
                                        <a data-process="{{ item.id }}" href="#" class="icon process-custom-mail-send" title="e-Mail versenden">
                                            <i class="fas fa-envelope" aria-hidden="true"></i>
                                            <span class="aural">Email</span>
                                        </a>
                                        {% if item.clients|first.emailSendCount %}
                                            <span class="counter">{{ item.clients|first.emailSendCount }}</span>
                                        {% endif %}
                                    {% endif %}
                                </td> 
								<td title="{% for request in item.requests%}{{request.name}}{% if not loop.last %}; {% endif %}{% endfor %}">
									{{ item.requests|first.name }}
									{% if item.requests|length > 1 %}
										+{{ (item.requests|length) - 1 }}
									{% endif %}
								</td>
								{#DL#}
								<td>Dieser Kunde ist nicht erschienen</td>
								{% if workstation.scope.preferences.client.customTextfieldActivated|default(0) == 1 %}
									<td>
										{{ item.customTextfield|decodeEntities|raw }}
									</td>
								{% endif %}
								<td class="nowrap">
									{% if item.queue.withAppointment %}
										Termin
									{% else %}
										Spontankunde
									{% endif %}
								</td>
								<td>
									<p>
										<a title="{% trans %}wieder aufnehmen{% endtrans %}" href="#" data-id="{{ item.id }}" class="process-reset">wieder aufnehmen</a>
									</p>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% else %}
				Keine Einträge gefunden.
			{% endif %}
		</div>

		<div class="table-responsive-wrapper">
			<h2 id="finished-appointments-control">
				<span class="color-green">
					<i class="fas fa-check-circle" aria-hidden="true"></i>
				</span>
				Abgeschlossene Termine
				{% if processListFinished|length %}
					<i class="fas fa-angle-down" aria-hidden="true"></i>
					<i class="fas fa-angle-up hidden" aria-hidden="true"></i>
				{% endif %}
			</h2>
			{% if processListFinished|length %}
				<div id="finished-appointments-content" class="hidden table-responsive-wrapper">
					<table id="table-finished-appointments" class="table--base compact">
						<thead>
							<tr>
								<th>Lfdnr.</th>
								<th>Uhrzeit</th>
								<th>Name</th>
								<th>Dienstleistung</th>
								<th>Art</th>
								<th>Wartezeit (Std.:Min.:Sek.)</th> 
								<th>Bearbeitungszeit (Std.:Min.:Sek.)</th> 
							</tr>
						</thead>
						{% set lfdnr = 0 %}
						{% for item in processListFinished|reverse %}
							{% set lfdnr = lfdnr + 1 %}
							<tr class="finished">
								<td>
									{{ lfdnr }}.
								</td>							
								<td>
									{% if item.queue.withAppointment %} 
										{{ item.appointments|first.date|date("H:i") }} 
									{% else %} 
										{{ item.queue.arrivalTime|date("H:i") }} 
									{% endif %}
								</td>
								<td>{{ item.name }}</td>
								<td>{{ item.services }}</td>
								<td>
									{% if item.withAppointment %}
										Termin
									{% else %}
										Spontankunde
									{% endif %}
								</td>
								{% set totalMinutes = item.waitingTime %} 
								{% set hours = (totalMinutes // 60) %} 
								{% set minutes = (totalMinutes % 60) // 1 %} 
								{% set seconds = ((totalMinutes - (hours * 60) - minutes) * 60) | round %} 
								<td>{{ "%02d"|format(hours) ~ ':' ~ "%02d"|format(minutes) ~ ':' ~ "%02d"|format(seconds) }}</td> 
								{% set totalMinutes = item.processingTime %} 
								{% set hours = (totalMinutes // 60) %} 
								{% set minutes = (totalMinutes % 60) // 1 %} 
								{% set seconds = ((totalMinutes - (hours * 60) - minutes) * 60) | round %} 
								<td>{{ "%02d"|format(hours) ~ ':' ~ "%02d"|format(minutes) ~ ':' ~ "%02d"|format(seconds) }}</td> 
							</tr>
						{% endfor %}				
					</table>
				</div>
				<script>
					(function () {
let control = $('#finished-appointments-control');
let content = $('#finished-appointments-content');
let upButton = $('#finished-appointments-control .fa-angle-up')
let downButton = $('#finished-appointments-control .fa-angle-down')

$(control).click(function () {
if (upButton.hasClass('hidden')) {
upButton.removeClass('hidden')
downButton.addClass('hidden')
content.removeClass('hidden')
} else {
upButton.addClass('hidden')
downButton.removeClass('hidden')
content.addClass('hidden')
}
});
})();
				</script>
			{% else %}
				Keine Einträge gefunden.
			{% endif %}

			<style>
				.hidden {
					display: none;
				}
				#finished-appointments-control:hover {
					cursor: pointer;
				}
			</style>
		</div>
		<div class="form-actions">
			<div class="right">
				<button title="{% trans %}Warteschlange neu laden{% endtrans %}" class="button button-reload reload">
					<i class="fas fa-sync"></i>
					Warteschlange aktualisieren</button>
			</div>
		</div>
		{% if (debug)  %}
			<div
				id="httplog">
				<!-- httplog -->
				{{ dumpHttpLog() }}
			</div>
		{% endif %}
	{% endblock %}
	{% block board_footer %}{% endblock %}
{% endembed %}
