{% from 'element/helper/form.twig' import formgroup, formbutton, custombutton, checkboxfield, inputfield %}

{#% embed "block/scaffholding/board.twig" with {'class': 'organisation-form'} %}
        {% block board_title %}
        {% endblock %}
        {% block board_body %}
        {% endblock %}
{% endembed %#}

            <form method="post" action="./" class="form--base">

                <fieldset>
                    <legend>Referat: Einrichtung und Administration</legend>
                    <div class="panel--heavy">
{{ formgroup(
                        {"label": "Name:"},
                        [{
                            "type":"input",
                            "required": true,
                            "parameter": {
                                "name": "name",
                                "value": organisation.name,
                            }
                        }]
                    ) }}

                    {{ formgroup(
                        {"label": "Anschrift:"},
                        [{
                            "type":"input",
                            "parameter": {
                                "name": "contact[street]",
                                "value": organisation.contact.street,
                            }
                        }]
                    ) }}
                    </div>
                </fieldset>

                <fieldset>
                    {% if workstation.useraccount.rights.organisation %}
                        <legend>Angemeldete Kiosksysteme</legend>
                        {{ formgroup(
                            {
                                "legend": "Zugriffsschutz:",
                                "groupTag": "fieldset"
                            },
                            [{
                                "type":"checkbox",
                                "parameter": {
                                    "label": "Kioske müssen aktiviert werden",
                                    "name": "preferences[ticketPrinterProtectionEnabled]",
                                    "value": 1,
                                    "checked": organisation.preferences.ticketPrinterProtectionEnabled,
                                }
                            }]
                        ) }}
                        {% if organisation.ticketprinters%}
                        <table class="table--base">
                            <thead>
                                <tr>
                                    <th>
                                        Aktiviert
                                    </th>
                                    <th>
                                        Freischaltcode
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ticketprinter in organisation.ticketprinters %}
                                <tr>
                                    <td>
                                        {{ checkboxfield({
                                            "name": "ticketprinters[#{loop.index0}][enabled]",
                                            "value": 1,
                                            "checked": ticketprinter.enabled|default(0),
                                        }) }}
                                    </td>
                                    <td>
                                        {{ inputfield({
                                            "name": "ticketprinters[#{loop.index0}][hash]",
                                            "value": ticketprinter.hash,
                                            "readonly": 1,
                                        }) }}
                                    </td>
                                    <td>
                                        {{ inputfield({
                                            "name": "ticketprinters[#{loop.index0}][name]",
                                            "value": ticketprinter.name,
                                        }) }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p>
                                Noch keine Ticketprinter registiert.
                            </p>
                        {% endif %}
                    {% endif %}
                </fieldset>
				<div class="form-actions">
                    <div class="controls">
                        {% if action != "add" %}
                        {{ custombutton({ "type":"delete","class": "button button--destructive", "target": urlGet("organisationDelete", {"id": organisation.id}, {}), "label":"Referat löschen", "disabled":(0 == workstation.useraccount.rights.organisation) }) }}
                        {{ custombutton({ "type":"new","class": "button button--default", "target": urlGet("organisationAddDepartment", {'id': organisation.id}, {}), "label":"Behörde hinzufügen", "disabled":(0 == workstation.useraccount.rights.department) }) }}
                        {% endif %}
                        {{ formbutton({ "type":"save", "class": "button button--positive", "name": "save", "label":"Speichern", "value": "save", "disabled":(0 == workstation.useraccount.rights.organisation) }) }}
    				</div>
				</div>
            </form>
       
