{% embed "block/scaffholding/board.twig" with {'class': 'useraccount-departmentlist', 'messages': 'hide'} %}

        {% block board_title %}
            Behörde wählen
        {% endblock %}

        {% block board_body %}
            <h3>{% if workstation.useraccount.permissions.superuser %}Gesamtnutzerliste{% else %}Gesamtnutzerliste für Ihren Bereich{% endif %}</h3>
            <ul>
                <li><a href="{{ urlGet('useraccountList', {}, {}) }}">Gesamtnutzerliste</a></li>
            </ul>        
                <h3>Nach Nutzerrolle</h3>
                <ul>
                    {% if workstation.useraccount.permissions.superuser %}<li><a href="{{ urlGet('useraccountListByRole', {level: 'system_admin'}, {}) }}">Technische Administration (Rolle: system_admin)</a></li>{% endif %}
                    {% if workstation.useraccount.permissions.organisation or workstation.useraccount.permissions.superuser %}<li><a href="{{ urlGet('useraccountListByRole', {level: 'organisation_admin'}, {}) }}">Referat übergreifende Administration (Rolle: organisation_admin)</a></li>{% endif %}
                    {% if workstation.useraccount.permissions.department or workstation.useraccount.permissions.organisation or workstation.useraccount.permissions.superuser %}<li><a href="{{ urlGet('useraccountListByRole', {level: 'department_admin'}, {}) }}">Behörden übergreifende Administration (Rolle: department_admin)</a></li>{% endif %}
                    {% if workstation.useraccount.permissions.cluster or workstation.useraccount.permissions.department or workstation.useraccount.permissions.organisation or workstation.useraccount.permissions.superuser %}<li><a href="{{ urlGet('useraccountListByRole', {level: 'user_admin'}, {}) }}">Fachliche Administration (Rolle: user_admin)</a></li>{% endif %}
                    {% if workstation.useraccount.permissions.scope or workstation.useraccount.permissions.cluster or workstation.useraccount.permissions.department or workstation.useraccount.permissions.organisation or workstation.useraccount.permissions.superuser %}<li><a href="{{ urlGet('useraccountListByRole', {level: 'appointment_admin'}, {}) }}">Terminadministration (Rolle: appointment_admin)</a></li>{% endif %}
                    {% if workstation.useraccount.permissions.logs or workstation.useraccount.permissions.superuser %}<li><a href="{{ urlGet('useraccountListByRole', {level: 'audit_viewer'}, {}) }}">Innenrevision (Rolle: audit_viewer)</a></li>{% endif %}
                    <li><a href="{{ urlGet('useraccountListByRole', {level: '0'}, {}) }}">Alle Sachbearbeiter*innen (Rolle: 0)</a></li>     
                </ul>
            {% for owner in ownerlist %}
            <h3>Nach Behörde ({{owner.name}})</h3>
            <ul>
                {% for organisation in owner.organisations %}
                <li>
                    <h4>{{ organisation.name }}</h4>
                    <ul>
                        {% for department in organisation.departments %}
                        <li>
                        <a href="{{ urlGet('useraccountListByDepartment', {id: department.id}, {}) }}">
                            {{ department.name }}
                        </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}

        {% endblock %}


{% endembed %}
