{% embed "block/scaffholding/board.twig" with {'class': 'useraccount-departmentlist', 'messages': 'hide'} %}

        {% block board_title %}
            Behörde wählen
        {% endblock %}

        {% block board_body %}
            <h3>Gesamtnutzerliste für Ihren Bereich</h3>
            <ul>
                <li><a href="{{ urlGet('useraccount', {}, {}) }}">Gesamtnutzerliste</a></li>
            </ul>        
            <h3>Suche</h3>
            <ul>
                <li><a href="{{ urlGet('useraccountSearch', {}, {}) }}">Nutzersuche</a></li>
            </ul>
                <h3>Nach Nutzerrolle</h3>
                <ul>
                    {% if workstation.useraccount.rights.superuser %}<li><a href="{{ urlGet('useraccountByRole', {level: '90'}, {}) }}">Technische Administration Superuser (Rolle: 90)</a></li>{% endif %}
                    <li><a href="{{ urlGet('useraccountByRole', {level: '70'}, {}) }}">Referat übergreifende Administration (Rolle: 70)</a></li>
                    <li><a href="{{ urlGet('useraccountByRole', {level: '50'}, {}) }}">Behörden übergreifende Administration (Rolle: 50)</a></li>
                    <li><a href="{{ urlGet('useraccountByRole', {level: '40'}, {}) }}">Fachliche Administration (Rolle: 40)</a></li>
                    <li><a href="{{ urlGet('useraccountByRole', {level: '30'}, {}) }}">Terminadministration (Rolle: 30)</a></li>
                    <li><a href="{{ urlGet('useraccountByRole', {level: '5'}, {}) }}">Innenrevision (Rolle: 5)</a></li>
                    <li><a href="{{ urlGet('useraccountByRole', {level: '0'}, {}) }}">Alle Sachbearbeiter*innen (Rolle: 0)</a></li>     
                </ul>
            {% for owner in ownerlist %}
            <h3>Nach Behörde ({{owner.name}})</h3>
            <ul>
                {% for organisation in owner.organisations %}
                <li>
                    <h4>{{ organisation.name }}</h4>
                    <ul>
                        {% for department in organisation.departments %}
                        <li>
                        <a href="{{ urlGet('useraccountByDepartment', {id: department.id}, {}) }}">
                            {{ department.name }}
                        </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}

        {% endblock %}


{% endembed %}
