{% embed "block/scaffholding/board.twig" with {'class': 'useraccount-departmentlist', 'messages': 'hide'} %}
        {% set isSuperUser = workstation.useraccount.permissions.superuser|default(false) %}
        {% set superuserOnlyRoles = ['system_admin', 'audit_viewer'] %}
        {% block board_title %}
            Behörde wählen
        {% endblock %}

        {% block board_body %}
            <h3>{% if workstation.useraccount.permissions.superuser|default(false) %}Gesamtnutzerliste{% else %}Gesamtnutzerliste für Ihren Bereich{% endif %}</h3>
            <ul>
                <li><a href="{{ urlGet('useraccountList', {}, {}) }}">Gesamtnutzerliste</a></li>
            </ul>        
                <h3>Nach Nutzerrolle</h3>
                <ul>
                    {% for role in roleList|default([]) %}
                        {% if isSuperUser or role.name not in superuserOnlyRoles %}
                            {% set roleLabel = (role.description|default('')|trim) ? role.description : role.name %}
                            <li>
                                <a href="{{ urlGet('useraccountListByRole', {'roleName': role.name}, {}) }}">
                                    {{ roleLabel }}
                                </a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li>Keine Rollen verfügbar</li>
                    {% endfor %}
                </ul>
            {% for owner in ownerlist %}
            <h3>Nach Behörde ({{owner.name}})</h3>
            <ul>
                {% for organisation in owner.organisations %}
                <li>
                    <h4>{{ organisation.name }}</h4>
                    <ul>
                        {% for department in organisation.departments %}
                        <li>
                        <a href="{{ urlGet('useraccountListByDepartment', {id: department.id}, {}) }}">
                            {{ department.name }}
                        </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}

        {% endblock %}


{% endembed %}
