{% embed "block/scaffholding/board.twig" with {'class': 'board--spaceless useraccount-list'} %}
    {% from 'element/helper/form.twig' import custombutton, inputfield %}

    {% set roleTitles = {
        90: 'Technische Administration Superuser',
        70: 'Referat übergreifende Administration',
        50: 'Behörden übergreifende Administration',
        40: 'Fachliche Administration',
        30: 'Terminadministration',
        5: 'Innenrevision',
        0: 'Sachbearbeiter*innen'
    } %}
    
    {% block board_title %}
        {% if roleTitles[roleLevel] is defined %}
            Nutzerliste: {{ roleTitles[roleLevel] }} (Rolle: {{ roleLevel }}) 
        {% else %}
            Nutzerliste: Unbekannte Rolle ({{ roleLevel }})
        {% endif %}
    {% endblock %}    

    {% block board_body %}
        <div class="table-responsive-wrapper"> 
             <fieldset>
                {% if useraccountListByRole|length == 0 %}
                <div class="message message--info" role="alert">
                    <p>In Ihrem Bereich ist dieser Rolle noch kein Benutzer zugewiesen worden.</p>
                </div>
                {% else %}       
                <div class="table-action-link" style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        {{ custombutton({ "type":"new", "class":"button-new" ,"target": urlGet("useraccountAdd", {}, {'department':department.id}), "label":'<i class="fa fa-user-plus color-positive" aria-hidden="true"></i> neuer Nutzer' }) }}
                    </div>
                    <div>
                        ({{ useraccountListByRole|length }} Nutzer*innen)
                    </div>
                </div>                
                <table class="table--base">
                    <thead>
                        <tr>
                            <th>Loginname</th>
                            <th>Email-Addresse</th>
                            <th>Letzter Login</th>
                            <th>Aktion</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for useraccount in useraccountListByRole %}
                        <tr>
                            <td><a href="{{ urlGet('useraccountEdit', {'loginname':useraccount.id}, {}) }}">{{ useraccount.id }}</a></td>
                            <td>{% if useraccount.email %}{{ useraccount.email }}{% endif %}</td>
                            <td>{% if useraccount.lastLogin %}{{ useraccount.lastLogin|date("Y-m-d") }}{% endif %}</td>
                            <td>
                                {{ custombutton({ "type":"edit", "class":"link" ,"target": urlGet('useraccountEdit', {'loginname':useraccount.id}, {}), "label":'<i class="fa fa-user-edit" aria-hidden="true"></i> bearbeiten' }) }}
                                {% if loggedInWorkstation %}
                                <form method="POST" action="{{ urlGet('logoutBySuperuser', {'id':department.id}, {}) }}">
                                    {{ inputfield({ "name":"workstation[useraccount][id]", "type":"hidden", "value":loggedInWorkstation.useraccount.id }) }}
                                    <button class="link"><i class="fa fa-user-minus color-destructive" aria-hidden="true"></i> abmelden</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <div class="table-action-link" style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        {{ custombutton({ "type":"new", "class":"button-new" ,"target": urlGet("useraccountAdd", {}, {'department':department.id}), "label":'<i class="fa fa-user-plus color-positive" aria-hidden="true"></i> neuer Nutzer' }) }}
                    </div>
                    <div>
                        ({{ useraccountListByRole|length }} Nutzer*innen)
                    </div>
                </div>   
             </fieldset>
        </div>
    {% endblock %}

    {% block board_footer %}{% endblock %}

{% endembed %}
