{% embed "block/scaffholding/board.twig" with {'class': 'board--spaceless useraccount-list'} %}
    {% from 'element/helper/form.twig' import custombutton, inputfield %}

    {% block board_title %}
        Nutzerliste: {{ department.name }}
    {% endblock %}

    {% block board_body %}
        <div class="table-responsive-wrapper"> 
             <fieldset>
                {% if useraccountList|length == 0 %}
                <div class="message message--info" role="alert">
                    <p>Dieser Behörde ist bisher noch kein Nutzer zugeordnet.</p>
                </div>
                {% else %}
                <div class="table-action-link">
                    {{ custombutton({ "type":"new", "class":"button-new" ,"target": urlGet("useraccountAdd", {}, {'department':department.id}), "label":'<i class="fa fa-user-plus color-positive" aria-hidden="true"></i> neuer Nutzer' }) }}
                </div>
                <table class="table--base">
                    <thead>
                        <tr>
                            <th>Loginname</th>
                            <th>Email-Addresse</th>
                            <th>Letzter Login</th>
                            <th>Aktion</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for useraccount in useraccountList %}
                        <tr>
                            <td><a href="{{ urlGet('useraccountEdit', {'loginname':useraccount.id}, {}) }}">{{ useraccount.id }}</a></td>
                            <td>{% if useraccount.email %}{{ useraccount.email }}{% endif %}</td>
                            <td>{% if useraccount.lastLogin %}{{ useraccount.lastLogin|date("Y-m-d") }}{% endif %}</td>
                            <td>
                                {{ custombutton({ "type":"edit", "class":"link" ,"target": urlGet('useraccountEdit', {'loginname':useraccount.id}, {}), "label":'<i class="fa fa-user-edit" aria-hidden="true"></i> bearbeiten' }) }}
                                {% if loggedInWorkstation %}
                                <form method="POST" action="{{ urlGet('logoutBySuperuser', {'id':department.id}, {}) }}">
                                    {{ inputfield({ "name":"workstation[useraccount][id]", "type":"hidden", "value":loggedInWorkstation.useraccount.id }) }}
                                    <button class="link"><i class="fa fa-user-minus color-destructive" aria-hidden="true"></i> abmelden</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <div class="table-action-link">
                    {{ custombutton({ "type":"new", "class":"button-new" ,"target": urlGet("useraccountAdd", {}, {'department':department.id}), "label":'<i class="fa fa-user-plus color-positive" aria-hidden="true"></i> neuer Nutzer' }) }}
                </div>
             </fieldset>
        </div>
    {% endblock %}

    {% block board_footer %}{% endblock %}

{% endembed %}
