{% embed "block/scaffholding/board.twig" with {'class': 'useraccount-list board--spaceless', 'messages': 'hide'} %}
    {% from 'element/helper/form.twig' import custombutton, inputfield %}

    {% block board_title %}
    <span tabindex="1" id="search-result-title">{% trans %}Suchergebnisse für {% endtrans %} "{{ searchUserQuery }}"</span>
    {% endblock %}

    {% block board_body %}
        <div class="table-responsive-wrapper">
            <fieldset>
            {% if useraccountList|length == 0 %}
                <div class="message message--info" role="alert">
                    <p>Keine Ergbnisse.</p>
                </div>
            {% else %}
                <div class="table-action-link" style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                    {% if department.id %}
                        {{ custombutton({ "type":"new","target": urlGet("useraccountAdd", {}, {'department':department.id}), "label":'<i class="fa fa-user-plus color-positive" aria-hidden="true"></i> neue*r Nutzer*in' }) }}
                    {% else %}
                        {{ custombutton({ "type":"new","target": urlGet("useraccountAdd", {}, {}), "label":'<i class="fa fa-user-plus color-positive" aria-hidden="true"></i> neue*r Nutzer*in' }) }}
                    {% endif %}
                    </div>
                    <div>
                        {% if useraccountList|length == 1 %}({{ useraccountList|length }} Nutzer*in){% else %}({{ useraccountList|length }} Nutzer*innen){% endif %}
                    </div>
                </div>                 
                <table class="table--base">
                    <thead>
                        <tr>
                            <th>Loginname</th>
                            <th>Letzter Login</th>
                            <th>E-Mail Adresse</th>
                            <th>Aktion</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for useraccount in useraccountList %}
                        <tr>
                            <td><a href="{{ urlGet('useraccountEdit', {'loginname':useraccount.id}, {}) }}">{{ useraccount.id }}</a></td>
                            <td>{% if useraccount.lastLogin %}{{ useraccount.lastLogin|date("Y-m-d") }}{% endif %}</td>
                            <td>{% if useraccount.email %}{{ useraccount.email }}{% endif %}</td>
                            <td>
                                {{ custombutton({ "type":"edit", "class":"link" ,"target": urlGet('useraccountEdit', {'loginname':useraccount.id}, {}), "label":'<i class="fas fa-user-edit" aria-hidden="true"></i> bearbeiten' }) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <div class="table-action-link" style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    {% if department.id %}
                    {{ custombutton({ "type":"new","target": urlGet("useraccountAdd", {}, {'department':department.id}), "label":'<i class="fa fa-user-plus color-positive" aria-hidden="true"></i> neue*r Nutzer*in' }) }}
                {% else %}
                    {{ custombutton({ "type":"new","target": urlGet("useraccountAdd", {}, {}), "label":'<i class="fa fa-user-plus color-positive" aria-hidden="true"></i> neue*r Nutzer*in' }) }}
                {% endif %}
                </div>
                <div>
                    {% if useraccountList|length == 1 %}({{ useraccountList|length }} Nutzer*in){% else %}({{ useraccountList|length }} Nutzer*innen){% endif %}
                </div>
            </div>
            </fieldset>
        </div>

    {% endblock %}

    {% block board_footer %}{% endblock %}

{% endembed %}

