{% if success or error %}
    {% include "element/helper/messageHandler.twig" %}
{% else %}
    {% if dialog %}
    <div class="dialog">
    {% endif %}
    {% embed "block/scaffholding/board.twig" with {'class': 'notification-form'} %}
        {% from 'element/helper/form.twig' import formgroup, formbutton, inputfield %}

        {% block board_title %}
            {{ title }}
        {% endblock %}

        {% block board_body %}
            <form method="post" name="mail" action="{{ urlGet('mail') }}">
                {% if not process.clients|first.email %}
                    <div class="message-error">
                        Für einen E-Mail Versand muss eine gültige E-Mail-Adresse eingetragen sein. <br />
                        Es steht entweder keine E-Mail-Adresse zur Verfügung oder die Vorgangsnummer ist nicht korrekt angegeben!
                    </div>
                {% else %}
                    {% set defaultSubject = "Information zu Ihrer Wartenummer %d am %s"|format(process.queue.number, process.appointments|first.date|date("d.m.Y")) %}
                    {% if process.queue.withAppointment %}
                        {% set defaultSubject = "Information zu Ihrem Termin %d am %s um %s Uhr"|format(process.queue.number, process.appointments|first.date|date('d.m.Y'), process.appointments|first.date|date('H:i')) %}
                    {% endif %}
                    {{ formgroup(
                        {"label": "Betreff der E-Mail:", "errors": form.subject.messages},
                        [{
                            "type":"input",
                            "parameter": {
                                "name": "subject",
                                "required": true,
                                "value": form.subject.value|default(defaultSubject)
                            }
                        }]
                    ) }}

                    {{ formgroup(
                        {"label": "Text der E-Mail (300 Zeichen):", "errors": form.message.messages},
                        [{
                            "type":"textarea",
                            "parameter": {
                                "name": "message",
                                "rows": "6",
                                "maxlength": 300,
                                "value": form.message.value|default("%s %s,\n\n"|format("Sehr geehrte/r Frau oder Herr", process.clients|first.familyName))
                            }
                        }]
                    ) }}

                    {{ formgroup(
                        {"label": "E-Mail des Empfängers:"},
                        [{
                            "type":"input",
                            "parameter": {
                                "maxlength": 30,
                                "readonly": 1,
                                "value": process.clients|first.email
                            }
                        }]
                    ) }}

                    {{ formgroup(
                        {"label": "Name des Empfängers:"},
                        [{
                            "type":"input",
                            "parameter": {
                                "maxlength": "20",
                                "readonly": 1,
                                "value": process.clients|first.familyName
                            }
                        }]
                    ) }}

                    {% set appointmentTime = "spontan" %}
                    {% if process.queue.withAppointment %}
                        {% set appointmentTime = process.appointments|first.date|date("H:i") %}
                    {% endif %}
                    {{ formgroup(
                        {"label": "Terminzeit:"},
                        [{
                            "type":"input",
                            "parameter": {
                                "maxlength": "20",
                                "readonly": 1,
                                "value": appointmentTime
                            }
                        }]
                    ) }}

                    {{ inputfield({ "name": "selectedprocess", "type":"hidden", "value":process.id }) }}

                    <div class="form-actions">
                        <div class="right">
                            <button type="button" class="button button--diamond button-abort">Schließen</button>
                            <button type="button" class="button button--default button-ok button-submit">Abschicken</button>
                        </div>
                    </div>
                {% endif %}
            </form>
        {% endblock %}
    {% endembed %}
    {% if dialog %}
    </div>
    {% endif %}
{% endif %}
