{% embed "block/scaffholding/board.twig" with {'class': 'ticketprinter-config'} %}
        {% from 'element/helper/form.twig' import formgroup, formbutton %}
        {% block board_title %}  
            {{ title }} - Berlin - {{ organisation.name }}
        {% endblock %}
        {% block board_body %}
        <div class=""
            data-ticketprinter-config
            data-organisation="{{organisation|json_encode}}"
            data-departments="{{departments|json_encode}}"
            data-config="{{config|json_encode}}">
        </div>
        {% endblock %}
{% endembed %}
