{% use "block/default/head.twig" %}
{% use "block/default/devhint.twig" %}
{% use "block/header/pageheader.twig" %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ currentLang() }}" lang="{{ currentLang() }}">
    {% block head %}
    	{{ parent() }}
    {% endblock %}
    <body class="locale_{{ currentLang() }}" id="{% block pageid %}{% endblock %}">
            {% block devhint %}
            	{{ parent() }}
            {% endblock %}
            {% block pageheader %}
            	{{ parent() }}
            {% endblock %}
            <div class="wartenummern hiddencursor">
    			<div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

            <script type="text/javascript" src="{{ includeUrl() }}/_js/index.js"></script>
            <script type="text/javascript">window.bo.zmsticketprinter.includepath="{{ includeUrl() }}"</script>
            {% if ticketprinter.reload %}
            <script type="text/javascript">window.bo.zmsticketprinter.reloadInterval={{ ticketprinter.reload }}</script>
            {% endif %}
            {% if debug %}
            <div class="debug noprint">
            <!-- httplog -->{{ dumpHttpLog() }}
            </div>
        {% endif %}
    </body>
</html>
