{% use "block/default/head.twig" %}
{% use "block/default/devhint.twig" %}
{% use "block/header/pageheader.twig" %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ currentLang() }}" lang="{{ currentLang() }}">
    {% block head %}
    	{{ parent() }}
    {% endblock %}
    <body class="locale_{{ currentLang() }}{% block customizedClass %}{% endblock %}" id="{% block pageid %}{% endblock %}" type="{% block pagetype %}{% endblock %}">
            {% block devhint %}
            	{{ parent() }}
            {% endblock %}
            {% block pageheader %}
            	{{ parent() }}
            {% endblock %}
            <div id="aufrufanzeige" class="aufrufanzeige hiddencursor">
            	<div class="content">
                {% block content %}{% endblock %}
                </div>
            </div>
			<script type="text/javascript" src="{{ includeUrl() }}/_js/index.js"></script>
            <script type="text/javascript">window.bo.zmscalldisplay.includepath="{{ includeUrl() }}"</script>
            {% for key, item in collections %}
            <script type="text/javascript">window.bo.zmscalldisplay.collections.{{ key }}="{{ item }}"</script>
            {% endfor %}
            {% if zmscalldisplay.reload %}
            <script type="text/javascript">window.bo.zmscalldisplay.reloadInterval={{ zmscalldisplay.reload }}</script>
            {% endif %}
            {% block tableLayoutSettings %}{% endblock %}
            {% if debug %}
            <div class="debug noprint">
            <!-- httplog -->{{ dumpHttpLog() }}
            </div>
            {% include("element/ring.twig") %}
        {% endif %}
    </body>
</html>