{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}

{% set links = {
    previousDay: urlGet('scopeAvailabilityDay', {'id': scope.id, 'date': (timestamp - 86400)|date('Y-m-d')}, {}),
    sameDay: urlGet('scopeAvailabilityDay', {'id': scope.id, 'date': getNow()|date('Y-m-d')}, {}),
    nextDay: urlGet('scopeAvailabilityDay', {'id': scope.id, 'date': (timestamp + 86400)|date('Y-m-d')}, {}),
    monthView: urlGet('scopeAvailabilityMonth', {'id': scope.id}, {}),
    includeurl: includeUrl(),
} %}

{% set tabs = [
    {name: "%s"|format("Graph-Ansicht")|trans, component: "graph"},
    {name: "%s"|format("Tabellen-Ansicht")|trans, component: "table"}
 ] %}

{% block headline %}
    {{ headline1('Öffnungszeiten für den Standort ' ~ scope.name ~ ' ' ~ scope.shortName ) }}
{% endblock %}

{% block content %}
    <div>
        <div class="closure"
             data-scope="{{scope | json_encode}}"
             data-dateString="{{dateString}}"></div>

        {% set locked = false %}
        {% for closure in scope.closure %}
            {% if closure.date|date('Y-m-d') == dateString %}
                {% set locked = true %}
            {% endif %}
        {% endfor %}
        <div id="closure-close" class="message message--warning {% if not locked %}hidden{% endif %}">
            Die Terminbuchung für diesen Tag ist gesperrt. <input class="button btn" style="margin-top: -6px;" type="button" onclick="toggleClosure()" value="Entsperren">
        </div>
        <div id="closure-open" class="message message--info {% if locked %}hidden{% endif %}">
            Die Terminbuchung für diesen Tag ist NICHT gesperrt. <input class="button btn" style="margin-top: -6px;" onclick="toggleClosure()" type="button" value="Sperren">
        </div>

        <script>
            function toggleClosure() {
                const ok = confirm('Möchten Sie wirklich Die Terminbuchung für diesen Tag {% if locked %}entsperren{% else %}sperren{% endif %}?')
                if (!ok) {
                    return
                }

                const currentDate = '{{ dateString }}'
                const url = `{{ includeUrl() }}/scope/{{ scope.id }}/availability/day/${currentDate}/closure/toggle/`
                $.ajax(url, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    data: JSON.stringify({})
                }).done(data => {
                    if (data.closure.existing) {
                        document.getElementById('closure-close').classList.remove('hidden')
                        document.getElementById('closure-open').classList.add('hidden')
                    } else {
                        document.getElementById('closure-close').classList.add('hidden')
                        document.getElementById('closure-open').classList.remove('hidden')
                    }
                }).fail(err => {
                    console.log('error', err)
                })
            }
        </script>

        {% set a = getNow()|date('Y-m-d') %}
        {% if scope.closure.hasEntityByDate('2025-02-24') %}
            X
        {% endif %}
    </div>
    <div class="availabilityDayRoot"
        data-today="{{ today }}"
        data-availabilityList="{{availabilityList | json_encode}}"
        data-availabilityListSlices="{{availabilityListSlices | json_encode}}"
        data-conflicts="{{conflicts | json_encode}}"
        data-scope="{{scope | json_encode}}"
        data-processList="{{processList | json_encode}}"
        data-dateString="{{dateString}}"
        data-timestamp="{{timestamp}}"
        data-menuActive="owner"
        data-maxWorkstationCount="{{maxWorkstationCount}}"
        data-links="{{ links | json_encode }}"
        data-tabs="{{ tabs | json_encode }}"
        data-slotbuckets={{ slotBuckets|json_encode }}
        data-maxslots="{{ maxSlotsForAvailabilities|json_encode }}"
        data-busyslots="{{ busySlotsForAvailabilities|json_encode }}" ></div>

    <style>
        .hidden {
            display: none;
        }
    </style>
{% endblock %}

{% block javascript %}
        <script type="text/javascript" src="{{ includeUrl() }}/_js/reactcomponents.js?version={{ currentVersion() }}&ts={{ getNow()|date("U") }}"></script>
{% endblock %}
