{% extends "layout/main.twig" %}

{% block content %} 
    
    <h1>{{ title }}</h1>
    
    <h2>Icons</h2>
    <div class="grid">
        <div class="grid__item one--whole">
            <div class="icon-demo">
                <div class="demo-icon">
                    <span class="icon-left">icon-left</span> <span class="i-name">&#x2190;</span> <span class="i-code">0x2190</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-right">icon-right</span> <span class="i-name">&#x2192;</span> <span class="i-code">0x2192</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-left-circled">icon-left-circled</span> <span class="i-name">&#x29c0;</span> <span class="i-code">0x29c0</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-right-circled">icon-right-circled</span> <span class="i-name">&#x29c1;</span> <span class="i-code">0x29c1</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-up-dir">icon-up-dir</span> <span class="i-name">&#x25b2;</span> <span class="i-code">0x25b2</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-right-dir">icon-right-dir</span> <span class="i-name">&#x25b6;</span> <span class="i-code">0x25b6</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-arrow-combo">icon-arrow-combo</span> <span class="i-name">&#x2195;</span> <span class="i-code">0x2195</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-down-dir">icon-down-dir</span> <span class="i-name">&#x25bc;</span> <span class="i-code">0x25bc</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-left-dir">icon-left-dir</span> <span class="i-name">&#x25c0;</span> <span class="i-code">0x25c0</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-plus">icon-plus</span> <span class="i-name">&#x2b;</span> <span class="i-code">0x2b</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-minus">icon-minus</span> <span class="i-name">&#x2212;</span> <span class="i-code">0x2212</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-dot">icon-dot</span> <span class="i-name">&#xb7;</span> <span class="i-code">0xb7</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-menu">icon-menu</span> <span class="i-name">&#x2261;</span> <span class="i-code">0x2261</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-trash">icon-trash</span> <span class="i-name">&#x228d;</span> <span class="i-code">0x228d</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-home">icon-home</span> <span class="i-name">&#x2302;</span> <span class="i-code">0x2302</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-search">icon-search</span> <span class="i-name">&#x2315;</span> <span class="i-code">0x2315</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-hourglass">icon-hourglass</span> <span class="i-name">&#x231b;</span> <span class="i-code">0x231b</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-bell">icon-bell</span> <span class="i-name">&#x237e;</span> <span class="i-code">0x237e</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-print">icon-print</span> <span class="i-name">&#x2399;</span> <span class="i-code">0x2399</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-export">icon-export</span> <span class="i-name">&#x23cd;</span> <span class="i-code">0x23cd</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-eye-with-line">icon-eye-with-line</span> <span class="i-name">&#x25c9;</span> <span class="i-code">0x25c9</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-eye">icon-eye</span> <span class="i-name">&#x25ce;</span> <span class="i-code">0x25ce</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-old-phone">icon-old-phone</span> <span class="i-name">&#x260e;</span> <span class="i-code">0x260e</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-phone">icon-phone</span> <span class="i-name">&#x1f4de;</span> <span class="i-code">0x1f4de</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-old-mobile">icon-old-mobile</span> <span class="i-name">&#x1f4f1;</span> <span class="i-code">0x1f4f1</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-cog">icon-cog</span> <span class="i-name">&#x2699;</span> <span class="i-code">0x2699</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-attention">icon-attention</span> <span class="i-name">&#x26a0;</span> <span class="i-code">0x26a0</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-flash">icon-flash</span> <span class="i-name">&#x26a1;</span> <span class="i-code">0x26a1</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-check">icon-check</span> <span class="i-name">&#x2713;</span> <span class="i-code">0x2713</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-logout">icon-logout</span> <span class="i-name">&#x274e;</span> <span class="i-code">0x274e</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-login">icon-login</span> <span class="i-name">&#x1f511;</span> <span class="i-code">0x1f511</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-help">icon-help</span> <span class="i-name">&#x2753;</span> <span class="i-code">0x2753</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-help-circled">icon-help-circled</span> <span class="i-name">&#x2370;</span> <span class="i-code">0x2370</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-info">icon-info</span> <span class="i-name">&#x2139;</span> <span class="i-code">0x2139</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-info-circled">icon-info-circled</span> <span class="i-name">&#x1d55a;</span> <span class="i-code">0x1d55a</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-pencil">icon-pencil</span> <span class="i-name">&#x270e;</span> <span class="i-code">0x270e</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-download">icon-download</span> <span class="i-name">&#x2913;</span> <span class="i-code">0x2913</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-floppy">icon-floppy</span> <span class="i-name">&#x1f4be;</span> <span class="i-code">0x1f4be</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-cancel">icon-cancel</span> <span class="i-name">&#x2a2f;</span> <span class="i-code">0x2a2f</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-user">icon-user</span> <span class="i-name">&#x1f464;</span> <span class="i-code">0x1f464</span>
                </div>
                <!--
                <div class="demo-icon">
                    <span class="icon-user-add">icon-user-add</span> <span class="i-name">&#x1f465;</span> <span class="i-code">0x1f465</span>
                </div>
                -->
                <div class="demo-icon">
                    <span class="icon-lamp">icon-lamp</span> <span class="i-name">&#x1f4a1;</span> <span class="i-code">0x1f4a1</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-folder">icon-folder</span> <span class="i-name">&#x1f4c1;</span> <span class="i-code">0x1f4c1</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-calendar">icon-calendar</span> <span class="i-name">&#x1f4c5;</span> <span class="i-code">0x1f4c5</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-location">icon-location</span> <span class="i-name">&#x1f4cc;</span> <span class="i-code">0x1f4cc</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-attach">icon-attach</span> <span class="i-name">&#x1f4ce;</span> <span class="i-code">0x1f4ce</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-book">icon-book</span> <span class="i-name">&#x1f4d6;</span> <span class="i-code">0x1f4d6</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-cw">icon-cw</span> <span class="i-name">&#x1f503;</span> <span class="i-code">0x1f503</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-lock">icon-lock</span> <span class="i-name">&#x1f512;</span> <span class="i-code">0x1f512</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-lock-open">icon-lock-open</span> <span class="i-name">&#x1f513;</span> <span class="i-code">0x1f513</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-bookmark">icon-bookmark</span> <span class="i-name">&#x1f516;</span> <span class="i-code">0x1f516</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-clock">icon-clock</span> <span class="i-name">&#x1f553;</span> <span class="i-code">0x1f553</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-mail">icon-mail</span> <span class="i-name">&#x2709;</span> <span class="i-code">0x2709</span>
                </div>
                 <div class="demo-icon">
                    <span class="icon-globe">icon-globe</span> <span class="i-name">&#xE800;</span> <span class="i-code">0xE800</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-link">icon-link</span> <span class="i-name">&#xe802;</span> <span class="i-code">0xe802</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-unlink">icon-unlink</span> <span class="i-name">&#xf127;</span> <span class="i-code">0xf127</span>
                </div>
                <div class="demo-icon">
                    <span class="icon-cut">icon-cut</span> <span class="i-name">&#xe801;</span> <span class="i-code">0xe801</span>
                </div>
            </div>
        </div>
    </div>
    
    <hr />
    
    <h2>Buttons</h2>
    <div class="grid">
        <div class="grid__item one-tenth palm--one-whole">
            <button class="btn">Default</button>
        </div>
        <div class="grid__item one-tenth palm--one-whole">
            <button class="btn btn--alert">Alert</button>
        </div>
        <div class="grid__item one-tenth palm--one-whole">
            <button class="btn btn--success">Success</button>
        </div>
        <div class="grid__item one-tenth palm--one-whole">
            <button class="btn btn--inactive">Inactive</button>
        </div>
        <div class="grid__item four-tenths palm--one-whole">
            <button class="btn btn--noShadow btn--bold btn--alert btn--full btn--large">no shadow, bold, alert, large, full width</button>
        </div>
    </div>
    
    <hr />
    
    <h2>Board</h2>
    <div class="grid">
        <div class="grid__item one-half portable--one-whole">
            <div class="board">
                <div class="header">
                    <h2 class="title">title</h2>
                    <div class="aside">aside</div>
                    <div class="header_right">header_right</div>
                </div>
                <div class="body">
                    <p>body: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>
                <div class="footer">
                    <p>footer</p>
                </div>
            </div>
        </div>
    </div>

<pre class="message-info">
<h3>Use the Twig "Board"-skeleton to layout blocks</h3>
{% raw %}
{% embed "block/scaffholding/board.twig" with {'class': 'my-css-class'} %}
    
  {% block board_title %}
  {% endblock %}
    
  {% block board_title_aside %}
  {% endblock %}
    
  {% block board_header_right %}
  {% endblock %}
    
  {% block board_body %}
  {% endblock %} 
    
  {% block board_footer %}
  {% endblock %}
    
{% endembed %}
{% endraw %}
</pre>
    
    <hr />
    
    <h2>Tabellenliste</h2>
    <h3>Standard</h3>
    <ul class="list-tablelist">
        <li class="list-tablelist_row list-tablelist_head">
            <div class="list-tablelist_cell">Kopf, Zelle 1</div>
            <div class="list-tablelist_cell">Kopf, Zelle 2</div>
        </li>
        <li class="list-tablelist_row">
            <div class="list-tablelist_cell">Reihe 1, Zelle 1</div>
            <div class="list-tablelist_cell">Reihe 1, Zelle 2</div>
        </li>
        <li class="list-tablelist_row">
            <div class="list-tablelist_cell">Reihe 2, Zelle 1</div>
            <div class="list-tablelist_cell">Reihe 2, Zelle 2</div>
        </li>
        <li class="list-tablelist_row">
            <div class="list-tablelist_cell">Reihe 3, Zelle 1</div>
            <div class="list-tablelist_cell">Reihe 3, Zelle 2</div>
        </li>
    </ul>
    <h3>Gestreift</h3>
    <ul class="list-tablelist list-tablelist--oddeven">
        <li class="list-tablelist_row list-tablelist_head">
            <div class="list-tablelist_cell">Kopf, Zelle 1</div>
            <div class="list-tablelist_cell">Kopf, Zelle 2</div>
        </li>
        <li class="list-tablelist_row">
            <div class="list-tablelist_cell">Reihe 1, Zelle 1</div>
            <div class="list-tablelist_cell">Reihe 1, Zelle 2</div>
        </li>
        <li class="list-tablelist_row">
            <div class="list-tablelist_cell">Reihe 2, Zelle 1</div>
            <div class="list-tablelist_cell">Reihe 2, Zelle 2</div>
        </li>
        <li class="list-tablelist_row">
            <div class="list-tablelist_cell">Reihe 3, Zelle 1</div>
            <div class="list-tablelist_cell">Reihe 3, Zelle 2</div>
        </li>
    </ul>
    <h3>Gerahmt</h3>
    <ul class="list-tablelist list-tablelist--bordered">
        <li class="list-tablelist_row list-tablelist_head">
            <div class="list-tablelist_cell">Kopf, Zelle 1</div>
            <div class="list-tablelist_cell">Kopf, Zelle 2</div>
        </li>
        <li class="list-tablelist_row">
            <div class="list-tablelist_cell">Reihe 1, Zelle 1</div>
            <div class="list-tablelist_cell">Reihe 1, Zelle 2</div>
        </li>
        <li class="list-tablelist_row">
            <div class="list-tablelist_cell">Reihe 2, Zelle 1</div>
            <div class="list-tablelist_cell">Reihe 2, Zelle 2</div>
        </li>
        <li class="list-tablelist_row">
            <div class="list-tablelist_cell">Reihe 3, Zelle 1</div>
            <div class="list-tablelist_cell">Reihe 3, Zelle 2</div>
        </li>
    </ul>
    <h3>Gestreift und gerahmt</h3>
    <ul class="list-tablelist list-tablelist--bordered list-tablelist--oddeven">
        <li class="list-tablelist_row list-tablelist_head">
            <div class="list-tablelist_cell">Kopf, Zelle 1</div>
            <div class="list-tablelist_cell">Kopf, Zelle 2</div>
        </li>
        <li class="list-tablelist_row">
            <div class="list-tablelist_cell">Reihe 1, Zelle 1</div>
            <div class="list-tablelist_cell">Reihe 1, Zelle 2</div>
        </li>
        <li class="list-tablelist_row">
            <div class="list-tablelist_cell">Reihe 2, Zelle 1</div>
            <div class="list-tablelist_cell">Reihe 2, Zelle 2</div>
        </li>
        <li class="list-tablelist_row">
            <div class="list-tablelist_cell">Reihe 3, Zelle 1</div>
            <div class="list-tablelist_cell">Reihe 3, Zelle 2</div>
        </li>
    </ul>
    
    <hr />
    
    <h2>Messages</h2>
    <div class="grid">
        <div class="grid__item one-half portable--one-whole">
            <div class="message">
                <h3 class="title">Default</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <div class="message-info">
                <h3 class="title">Info</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <div class="message-error">
                <h3 class="title">Error</h3>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <div class="message-success">
                <h3 class="title">Success</h3>
                <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </div>

        </div>
    </div>
    
    <hr />
    
    <h2>Font</h2>
    <div class="grid">
        <div class="grid__item one-half portable--one-whole">
            <h1>Headline H1</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            <h2>Headline H2</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            <h3>Headline H3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            <h4>Headline H4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
        </div>
    </div>
    
    
    
    <h2>Formulare</h2>

    <form action="#" class="well form--horizontal">
        <fieldset>
        {% from 'element/helper/form.twig' import inputfield, formgroup, formbutton %}
        
        {{ formgroup(
            {"label":"Inputfeld required", "required": 1}, 
            [{
                "type":"input",
                "parameter":{
                    "name":"input_1",
                    "placeholder":"Hier den Text eingeben..."
                }
            }]
        ) }}
        
        
        {{ inputfield({"name":"hiddeninput_1", "type": "hidden", "value": "myhiddenvalue"}) }}
        
        {{ formgroup(
            {"label":"Selectfeld"}, 
            [{
                "type":"select",
                "parameter":{
                    "name":"select_1",
                    "options": [
                        { "value": "o1", "name": "Option 1" },
                        { "value": "o2", "name": "Option 2", "selected": 1},
                        { "value": "o3", "name": "Option 3" },
                        { "value": "o4", "name": "Option 4" }
                    ]
                }
            }]
        ) }}
        
        {{ formgroup(
            {"label":"Multiselectfeld"}, 
            [{
                "type":"select",
                "parameter":{
                    "name":"multiselect_1",
                    "multiple": 1,
                    "options": [
                        { "value": "o1", "name": "Option 1" },
                        { "value": "o2", "name": "Option 2"},
                        { "value": "o3", "name": "Option 3", "selected": 1},
                        { "value": "o4", "name": "Option 4" }
                    ]
                }
            }]
        ) }}
        
        {{ formgroup(
            {"label":"Textfeld"}, 
            [{
                "type":"textarea",
                "parameter":{
                    "name":"textarea_1",
                    "value":"Ich bin ein Text",
                }
            }]
        ) }}
        
        {{ formgroup(
            {"label":"Checkboxen"}, 
            [{
                "type":"checkbox",
                "parameter":{
                    "label": "ja",
                    "value": "1",
                    "name":"checkbox_1",
                    "checked": 1
                }
            },
            {
                "type":"checkbox",
                "parameter":{
                    "label": "nein",
                    "value": "0",
                    "name":"checkbox_2",
                }
            },
            {
                "type":"checkbox",
                "parameter":{
                    "label": "vielleicht",
                    "value": "3",
                    "name":"checkbox_3",
                }
            }]
        ) }}
        </fieldset>
        <fieldset>
            <legend>Legende</legend>
        {{ formgroup(
            {"label":"Datepicker"}, 
            [{
                "type":"datepicker",
                "parameter":{
                    "name":"datepicker_1",
                    "value": now|date('d.m.Y'),
                }
            }]
        ) }}
        {{ formgroup(
            {"label":"Inline Checkboxen"}, 
            [{
                "type":"checkbox",
                "parameter":{
                    "label": "ja",
                    "value": "1",
                    "name":"checkbox_1",
                    "checked": 1,
                    "inline": 1
                }
            },
            {
                "type":"checkbox",
                "parameter":{
                    "label": "nein",
                    "value": "0",
                    "name":"checkbox_2",
                    "inline": 1
                }
            },
            {
                "type":"checkbox",
                "parameter":{
                    "label": "vielleicht",
                    "value": "3",
                    "name":"checkbox_3",
                    "inline": 1
                }
            }]
        ) }}
        
        {{ formgroup(
            {"label":"Inline Radiobuttons"}, 
            [{
                "type":"radio",
                "parameter":{
                    "label": "ja",
                    "value": "1",
                    "name":"radio_1",
                    "checked": 1,
                    "inline": 1
                }
            },
            {
                "type":"radio",
                "parameter":{
                    "label": "nein",
                    "value": "0",
                    "name":"radio_1",
                    "inline": 1
                }
            },
            {
                "type":"radio",
                "parameter":{
                    "label": "vielleicht",
                    "value": "3",
                    "name":"radio_1",
                    "inline": 1
                }
            }]
        ) }}
        
        {{ formgroup(
            {"label":"Gemischte Gruppe","description":"Lorem ipsum dolor sit amet, consectetuer adipiscing elit."}, 
            [{
                "type":"input",
                "parameter":{
                    "name": "input_2",
                    "width": 2,
                    "prepend": "vorher",
                    "append": "nachher",
                }
            },
            {
                "type":"checkbox",
                "parameter":{
                    "label": "Eine Checkbox",
                    "name":"checkbox_21",
                    "inline": 1
                }
            }]
        ) }}
        
        <div class="form-actions">
            {{ formbutton({ "type":"submit", "label":"Abschicken", "value": "myformsubmit" }) }}
        </div>
        </fieldset>
    </form>
            
<pre class="message-info">
<h3>Use Twig formgroup macros to build complex formelements</h3>
{% raw %}
{% from 'element/helper/form.twig' import formgroup %}

{{ formgroup(
  {
    "label|divlabel":   "MYLABEL|alternative LABEL as a DIV",
    "description":      "MYDESCRIPTION", 
    "required":         1|0(default),
    "errors":           ARRAY
  }, 
  [{
    "type":"input|select|textarea|checkbox|radio|datepicker|file",
    "parameter":{
      "name":         "FIELDNAME",
      "value":        "FIELDVALUE",
      "placeholder":  "PLACEHOLDERTEXT",
      "id":           "MYID"
      "required":     1|0(default), 
      "error":        1|0(default), 
      "readonly":     1|0(default), /*input, datepicker*/
      "multiple":     1|0(default), /*select*/
      "checked":      1|0(default), /*radio, checkbox*/
      "inline":       1|0(default), /*radio, checkbox*/
      "label":        "LABELTEXT", /*radio, checkbox*/
      "width":        1...12(default), /*input, textarea, select*/
      "type":         text(default)|hidden|search|tel|url|email|password, /*input*/
      "size":         int /*input, multiselect*/
      "maxlength":    int /*input*/
      "rows":         int /*textarea*/
      "options": [    /*select*/
        {"value": "selectoption1", "name": "SELECTOPTION 1", "selected": 1|0(default) },
        {"value": "selectoption2", "name": "SELECTOPTION 2"}
      ],
      "file": {  /*file*/
        "type": "image", 
        "alt": "ALTTEXT",
        "src": "IMAGESRC", 
      }
      "prepend":      "FIELD PREPEND TEXT",
      "append":       "FIELD APPEND TEXT",
    }
  },
  {
     /*...place another field here.*/
  }]
) }}
</pre>
<pre class="message-info">
<h3>Use the basic Twig form element macros to build simple formelements like hidden fields and buttons</h3>
{% from 'element/helper/form.twig' import inputfield, formbutton %}

{{ inputfield({"name":"hiddeninput_1", "type": "hidden", "value": "myhiddenvalue"}) }}
{{ formbutton({ "type":"submit|save|new|delete", "label":"Abschicken", "value": "myformsubmit" }) }}

{% endraw %}
</pre>
    

<h3>Links</h3>
<a target="_blank" href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">BEM: mindbemding getting your head round bem-syntax</a>
   
    
{% endblock %}

