{% extends "layout/main.twig" %}
{% from 'element/helper/snippets.twig' import headline1 %}

{% block headline %}
    {{ headline1("Sachbearbeiterplatz") }}
{% endblock %}

{% block content %}
    <div class="workstation-view"
        data-includeurl="{{ includeUrl() }}"
        data-selected-date="{{ selectedDate }}"
        data-selected-time="{{ selectedTime }}"
        data-selected-process="{{ selectedProcess }}"
        data-cluster-enabled="{{ workstation.queue.clusterEnabled }}"
        data-selected-scope="{% if workstation.queue.clusterEnabled == 0 %}{{ workstation.scope.id }}{% else %}{{ selectedScope }}{% endif %}"
        data-called-process="{{ calledProcess }}">
        <div class="grid">
            <div class="grid__item three-twelfths" id="liveregionClientNext" data-client-next>
                {% include "block/process/nextContainer.twig" %}
            </div>
            <div class="grid__item six-twelfths">
            {% include "block/appointment/formRedirect.twig" with {
                'scopes': scopes,
                'workstation': workstation
            } %}
            </div>
            <div class="grid__item three-twelfths" aria-live="off" id="liveregionCalendarBox" data-calendar-box>
                <div data-calendar>
                    {% include "block/calendar/calendarContainer.twig" with {source: "workstation"} %}
                </div>
                <div style="margin-top:-2em;">
                    {% include "block/calendar/legend.twig" with {"view": "calendar"} %}
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="grid__item" aria-live="off" id="liveregionQueueTable" data-queue-table>
                {% include "block/queue/queueContainer.twig" %}
            </div>
        </div>
    </div>
{% endblock %}
