{% block print %}
<div class="print" media="print">
	<span class="printausgabe msg_ihre_wartenummer">Ihre Wartenummer:</span>
    <div class="printausgabe msg_ihre_nummernanzeige nummernanzeige">{{ process.queue.number }}</div>
    <span class="printausgabe msg_stdname">
    	<span class="printausgabe msg_ihre_wartenummer">
    		{{ process.scope.contact.name }}
			<br>
			{% if printText %}{{ printText }}{% endif %}
			<br>
			{% if ticketprinter.customText1 or ticketprinter.customText2 %}
				{% if ticketprinter.customText1 %}
					{{ ticketprinter.customText1 }}<br>
				{% endif %}
				{% if ticketprinter.customText2 %}
					{{ ticketprinter.customText2 }}<br>
				{% endif %}
				<br>
			{% endif %}
			{{ process.queue.arrivalTime|format_date(pattern="EE dd. MMMM Y") }}, {{ process.queue.arrivalTime|format_date(pattern="HH:mm") }} {% trans %}Uhr{% endtrans %}<br>
		</span>
	</span>
</div>
{% endblock %}


